@model BrandBook.Core.ViewModels.App.UserManagement.AppUserViewModel
@{
    ViewBag.Title = "Nutzerübersicht";
}
@section navigation {
    @Html.Partial("~/Areas/App/Views/Shared/_Layout/Partial/_LeftNavigation.cshtml")
}
@section styles {
    @Styles.Render("~/Content/Plugins/Datatables")
}


<div class="row">
    <div class="col-12">
        <div class="card-box table-responsive">
            <h4 class="m-t-0 header-title">@ViewBag.Title</h4>
            <p class="text-muted font-14 m-b-30"></p>

            <table id="appUserOverview-datatable" class="table table-bordered dt-responsive">
                <thead>
                    <tr>
                        <th>Firstname</th>
                        <th>Lastname</th>
                        <th>UserName</th>
                        <th>E-Mail</th>
                    </tr>
                </thead>


                <tbody>
              
                
                    @foreach (var user in Model)
                    {
                        <tr>
                            <td>
                                @user.FirstName
                            </td>
                            <td>
                                @user.LastName
                            </td>
                            <td>
                                @user.UserName
                            </td>
                            <td>
                                @user.Email
                            </td>
                        </tr>
                    }
                
                </tbody>
            </table>
        </div>
    </div>
</div> <!-- end row -->






@section scripts{
    @Scripts.Render("~/bundles/Plugins/Datatables")

    <script type="text/javascript">

        $('#appUserOverview-datatable').DataTable({
            select: {
                style: 'multi'
            },
            language: {
                url: '//cdn.datatables.net/plug-ins/1.10.19/i18n/German.json'
            }
        });

    </script>
}