@using BrandBook.Resources
@model BrandBook.Web.Framework.ViewModels.App.Brand.AddNewBrandViewModel
@{
    ViewBag.Title = @Translations.app_pagetitle_addbrand;
}
@section navigation {
    @Html.Partial("~/Areas/App/Views/Shared/_Layout/Partial/_LeftNavigation.cshtml")
}

@section styles{
}




<div class="row">
    <div class="col-md-12">
        <div class="card-box">
            <h4 class="m-t-0 header-title"><b>@Translations.app_pagetitle_addbrand</b></h4>


            @using (Html.BeginForm("Add", "Brands", new { area = "App" }, FormMethod.Post, new { enctype = "multipart/form-data", @id = "add-brand-form", @class = "form-horizontal", role = "form" }))
            {
                @Html.AntiForgeryToken()

                <div class="form-row">
                    <div class="form-group col-6">
                        @Html.LabelFor(m => m.Name)<span class="required-form-item"></span>

                        <div class="">
                            <div class="input-group">
                                <div class="input-group-prepend">
                                    <span class="input-group-text" id="titleInput"><i class="fas fa-swatchbook"></i></span>
                                </div>
                                @Html.TextBoxFor(m => m.Name, new { @class = "form-control required", data_bind = "aria-describedby=titleInput", required = "required" })
                            </div>
                        </div>
                    </div>
                </div>
                

                <div class="form-row">
                    <div class="form-group col-6">
                        @Html.LabelFor(m => m.Description, new { @class = "control-label" })
                        <div class="">
                            @Html.TextAreaFor(m => m.Description, new { @class = "form-control" })
                        </div>
                        <p class="text-muted m-b-15 font-14">
                            <span id="current-@Html.IdFor(m => m.Description)">0</span>
                            / &infin;
                        </p>
                    </div>

                    <div class="form-group col-6">
                        @Html.LabelFor(m => m.ShortDescription, new { @class = "control-label" })
                        <div class="">
                            @Html.TextAreaFor(m => m.ShortDescription, new { @class = "form-control", maxlength = "255"})
                        </div>
                        <p class="text-muted m-b-15 font-14">
                            <span id="current-@Html.IdFor(m => m.ShortDescription)">0</span>
                            / 255
                        </p>
                    </div>
                </div>

                <div class="form-row">
                    <div class="form-group col-6">
                        @Html.LabelFor(m => m.MainColor)

                        <div class="">
                            <div class="input-group">
                                <div class="input-group-prepend">
                                    <span class="input-group-text" id="mainColorInput"><i class="fas fa-palette"></i></span>
                                </div>
                                @Html.TextBoxFor(m => m.MainColor, new { type = "color", @class = "form-control required", value = "#193357", data_bind = "aria-describedby=mainColorInput" })
                            </div>
                        </div>
                    </div>

                    <div class="form-group col-6">
                        @Html.LabelFor(m => m.ImageId)
                        <div class="">
                            <input type='file' name="image" class="form-control mb-2" onchange="readURL(this);" style="height: auto;" accept="image/*" />
                            <img id="@Html.IdFor(m => m.ImageId)" src="" alt="" style="max-width: 180px;" />
                        </div>
                    </div>
                </div>
                

                

                <div class="form-row">
                    <div class="form-group mt-5">
                        <button type="submit" class="btn btn-primary btn-custom" id="submitForm">
                            @Translations.app_brands_addbrand_submit
                        </button>
                    </div>
                </div>

            }


        </div>
    </div>
</div>




@section scripts {
    @Scripts.Render("~/bundles/Plugins/JqueryValidation")
    
    
    <script>
        function readURL(input) {
            if (input.files && input.files[0]) {
                var reader = new FileReader();

                reader.onload = function (e) {
                    $('#@Html.IdFor(m => m.ImageId)')
                        .attr('src', e.target.result)
                        .css("border", "1px solid black");
                    
                };

                reader.readAsDataURL(input.files[0]);
            }
        }
    </script>
    
    
    <script>
        function updateTextareaCounter(textareaId) {

            var characterCount = $('#' + textareaId).val().length;
            var current = $('#current-' + textareaId);

            current.text(characterCount);

        }

        $('#@Html.IdFor(m => m.Description)').keyup(function () {
            updateTextareaCounter('@Html.IdFor(m => m.Description)');
        });

        $('#@Html.IdFor(m => m.ShortDescription)').keyup(function () {
            updateTextareaCounter('@Html.IdFor(m => m.ShortDescription)');
        });

    </script>
}