@model BrandBook.Web.Framework.ViewModels.App.Brand.AddNewBrandViewModel
@{
    ViewBag.Title = "Marke anlegen";
}
@section navigation {
    @Html.Partial("~/Areas/App/Views/Shared/_Layout/Partial/_LeftNavigation.cshtml")
}

@section styles{}




<div class="row">
    <div class="col-md-12">
        <div class="card-box">
            <h4 class="m-t-0 header-title"><b>Add a new Brand</b></h4>


            @using (Html.BeginForm("Add", "Brands", new { area = "App" }, FormMethod.Post, new { enctype = "multipart/form-data", @id = "add-brand-form", @class = "form-horizontal", role = "form" }))
            {
                @Html.AntiForgeryToken()
                
                <div class="form-row">
                    <div class="form-group col-6">
                        @Html.LabelFor(m => m.Name, new { @class = "control-label" })
                        <div class="">
                            @Html.TextBoxFor(m => m.Name, new { @class = "form-control required" })
                        </div>
                    </div>
                </div>

                <div class="form-row">
                    <div class="form-group col-6">
                        @Html.LabelFor(m => m.Description, new { @class = "control-label" })
                        <div class="">
                            @Html.TextAreaFor(m => m.Description, new { @class = "form-control" })
                        </div>
                    </div>

                    <div class="form-group col-6">
                        @Html.LabelFor(m => m.ShortDescription, new { @class = "control-label" })
                        <div class="">
                            @Html.TextAreaFor(m => m.ShortDescription, new { @class = "form-control" })
                        </div>
                    </div>
                </div>

                <div class="form-row">
                    <div class="form-group col-6">
                        @Html.LabelFor(m => m.MainColor)
                        <div class="">
                            <div class="input-group">
                                <div class="input-group-prepend">
                                    <span class="input-group-text" id="mainColorInput">#</span>
                                </div>
                                @Html.TextBoxFor(m => m.MainColor, new { @class = "form-control required", placeholder = "", data_bind = "aria-describedby=mainColorInput" })
                            </div>
                        </div>
                    </div>

                    <div class="form-group col-6">
                        @Html.LabelFor(m => m.ImageId)
                        <div class="">
                            <input type="file" class="form-control" name="image" style="height: auto;">
                        </div>
                    </div>
                </div>


                <div class="form-group">
                    <button type="submit" class="btn btn-primary btn-custom">Marke hinzufügen</button>
                </div>

            }

            
        </div>
    </div>
</div>





@section scripts {
    @Scripts.Render("~/bundles/Plugins/JqueryValidation")
}



