@using BrandCi.Web.Framework.Helpers
@{
    var cookieConsent = Request.Cookies["_cookieConsent"];
}


<!DOCTYPE html>
<html lang="@CultureHelper.GetCurrentNeutralCulture()" dir="@(CultureHelper.IsRightToLeft() ? "rtl" : "ltr")">
<head>

    <meta charset="UTF-8">
    <meta name="keywords" content="@ViewBag.MetaKeywords">
    <meta name="author" content="@ViewBag.MetaAppAuthor">
    <meta name="description" content="@ViewBag.MetaDescription">

    <!-- For IE -->
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <!-- For Resposive Device -->
    <meta name="viewport" content="width=device-width, initial-scale=1.0">

    <title>@ViewBag.Title - @ViewBag.MetaAppTitle</title>

    <link href="https://fonts.googleapis.com/css?family=Poppins:300,400,500,600,700,900&display=swap" rel="stylesheet">

    <!-- Style Bundles -->
    @Styles.Render("~/Content/Css/Frontend/Main")
    @Styles.Render("~/Content/Css/Flag-Icon")
    <!-- Style Bundles -->

    @if (CultureHelper.IsRightToLeft())
    {
        @Styles.Render("~/Content/Css/Frontend/RTL")
        ;
    }


    @RenderSection("styles", required: false)

    @{ Html.RenderAction("GoogleAnalytics", "Layout"); }
    @{ Html.RenderPartial("~/Views/Shared/Layout/Partial/_GoogleTagManagerHeadComponent.cshtml"); }

    <!-- Icons -->
    <link rel="icon" type="image/png" sizes="100x100" href="@CustomHelper.GetImagePath("favicon", imageType: "ico")">
    <link rel="apple-touch-icon" href="@CustomHelper.GetImagePath("apple-touch-icon", imageType: "png")">
    <!-- ./ Icons -->
    <!-- Fontawesome -->
    <link rel="stylesheet" href="https://use.fontawesome.com/releases/v5.8.1/css/all.css" integrity="sha384-50oBUHEmvpQ+1lW4y57PTFmhCaXp0ML5d60M1M7uH2+nqUivzIebhndOJK28anvf" crossorigin="anonymous">
    <!-- ./ Fontawesome -->


</head>

    <body>
        
        @{ Html.RenderPartial("~/Views/Shared/Layout/Partial/_GoogleTagManagerBodyComponent.cshtml"); }

        <!-- PreLoader -->
        @Html.Partial("~/Views/Shared/Layout/Partial/_PreLoader.cshtml")
        <!-- ./ PreLoader -->

        <div class="body_wrapper">

            @{ Html.RenderAction("UserLike", "Layout"); }


            <!-- Navigation -->
            @Html.Partial("~/Views/Shared/Layout/Partial/Navigation.cshtml")
            <!-- ./ Navigation -->

            

            @RenderBody()


            @if (cookieConsent == null)
            {
                <!-- Cookie-Consent -->
                @Html.Partial("~/Views/Shared/Layout/Partial/_CookieConsent.cshtml")
                <!-- ./ Cookie-Consent -->
            }
        


            <!-- Footer -->
            @Html.Partial("~/Views/Shared/Layout/Partial/Footer.cshtml")
            <!-- ./ Footer -->

            <!-- Js Bundles -->
            @Scripts.Render("~/bundles/Frontend/Main")
            
            @RenderSection("pageScriptBundle", required: false)

            @Scripts.Render("~/bundles/Frontend/General")
            <!-- ./ Js Bundles -->


            <!-- Culture Switcher -->
            <script type="text/javascript">
                (function ($) {
                    $("input[type = 'radio']").click(function () {
                        $(this).parents("form").submit();
                    });
                })(jQuery);
            </script>
            <!-- ./ Culture Switcher-->

            <!-- Set Cookie-Acceptance Cookie -->
            <script type="text/javascript">
                $("#acceptCookiesButton").click(function () {
                    $.cookie("_cookieConsent", 1, { expires: 365 });
                    $("#cookieConsentBox").fadeOut(400);
                });
            </script>
            <!-- ./Set Cookie-Acceptance Cookie -->


            @RenderSection("scripts", required: false)
            

        </div> <!-- /.body_wrapper -->
    </body>
</html>