@using BrandBook.Web.Framework.Helpers
@{
    var culture = System.Threading.Thread.CurrentThread.CurrentUICulture.Name.ToLowerInvariant();
    var routeData = ViewContext.RouteData;
}

@helper Selected(string code, string culture)
{
    if (code == culture)
    {
        @:checked="checked" class="checked"
    }
}

@helper SelectedLabel(string code, string culture)
{
    if (code == culture)
    {
        @:class="checked"
    }
}

@helper CurrentLanguageName(string culture)
{
    var currentCulture = CultureHelper.GetEnabledCultures().FirstOrDefault(x => x.Key == culture);

    @:@currentCulture.Value
}



<div class="f_widget about-widget">
    <h3 class="f-title f_600 f_size_18 mb_40">
        @Translations.frontend_footer_language_title
    </h3>

    @using (Html.BeginForm("SetCulture", "Culture", new { area = "" }))
    {
        <input type="hidden" name="currentAction" value="@routeData.Values["action"].ToString()" />
        <input type="hidden" name="currentController" value="@routeData.Values["controller"].ToString()" />

        <ul class="list-unstyled f_list">
            <li class="dropdown submenu nav-item">
                <a title="Language Selection" class="dropdown-toggle nav-link" data-toggle="dropdown" role="button"
                   aria-haspopup="true" aria-expanded="false" href="#">
                    @CurrentLanguageName(culture)
                </a>
                <ul role="menu" class="dropdown-menu languageSelection">
                    @foreach (var enabledCulture in CultureHelper.GetEnabledCultures())
                    {
                        <li class="nav-item">
                            <label class="nav-link" for="@enabledCulture.Key">
                                <input name="culture" class="language-selection-item" id="@enabledCulture.Key" value="@enabledCulture.Key" type="radio" @Selected(enabledCulture.Key, culture)/>
                                @enabledCulture.Value
                            </label>
                        </li>
                    }
                </ul>
            </li>
        </ul>
    }

</div>