@model BrandBook.Web.Framework.ViewModels.Auth.RegisterViewModel

@{
    ViewBag.Title = "Registrieren";
    Layout = "~/Areas/Auth/Views/Shared/_Layout.cshtml";
}

<div class="img-holder">
    <div class="bg"></div>
    <div class="info-holder">
        <img src="~/Areas/Auth/Content/Images/login_background.svg" alt="">
    </div>
</div>
<div class="form-holder">
    <div class="form-content">
        <div class="form-items">
            <h3>Registrieren Sie sich an</h3>
            <p></p>

            @using (Html.BeginForm("Index", "Register", FormMethod.Post, new { @class = "form-horizontal", role = "form" }))
            {
                @Html.AntiForgeryToken()

                <div class="form-group">
                    <div class="col-md-10">
                        @Html.TextBoxFor(m => m.Email, new { @type = "Email", @class = "form-control", placeholder = Html.DisplayNameFor(m => m.Email) })
                    </div>
                </div>

                <div class="form-group">
                    <div class="col-md-10">
                        @Html.TextBoxFor(m => m.Username, new { @class = "form-control", placeholder = Html.DisplayNameFor(m => m.Username) })
                    </div>
                </div>

                <div class="form-group">
                    <div class="col-md-10">
                        @Html.PasswordFor(m => m.Password, new { @class = "form-control", placeholder = Html.DisplayNameFor(m => m.Password) })
                    </div>
                </div>

                <div class="form-group">
                    <div class="col-md-10">
                        @Html.PasswordFor(m => m.ConfirmPassword, new { @class = "form-control", placeholder = Html.DisplayNameFor(m => m.ConfirmPassword) })
                    </div>
                </div>

                <div class="form-button">
                    <button id="submit" type="submit" class="ibtn">Registrieren</button> 
                </div>

            }


            <div class="page-links mt-5">
                <a href="@Url.Action("Index", "Login")">Hier anmelden</a>
            </div>
        </div>
    </div>
</div>