@using BrandBook.Web.Framework.HtmlHelpers
@model BrandBook.Web.Framework.ViewModels.Auth.RegisterViewModel

@{
    ViewBag.Title = "Registrieren";
    Layout = "~/Areas/Auth/Views/Shared/_Layout.cshtml";
}


@AuthCustomHelper.RenderBackground("https://content.philipp-moser.de/wlo0t5byw6/b14828a6-69ac-4d63-a7e0-0f442729e318.svg")

<div class="form-holder">
    <div class="form-content">
        <div class="form-items">
            <h3>Registrieren Sie sich</h3>
            <p></p>

            @using (Html.BeginForm("Index", "Register", FormMethod.Post, new { @class = "form-horizontal", role = "form" }))
            {
                @Html.AntiForgeryToken()

                <div class="form-group">
                    <div class="col-md-10">
                        @Html.TextBoxFor(m => m.Email, new { @Value = Model.Email, @type = "Email", @class = "form-control", placeholder = Html.DisplayNameFor(m => m.Email) })
                        @Html.ValidationMessageFor(m => m.Email, "", new { @class = "text-danger" })
                    </div>
                </div>

                <div class="form-group">
                    <div class="col-md-10">
                        @Html.TextBoxFor(m => m.Username, new { @Value = Model.Username, @class = "form-control", placeholder = Html.DisplayNameFor(m => m.Username) })
                        @Html.ValidationMessageFor(m => m.Username, "", new { @class = "text-danger" })
                    </div>
                </div>

                <div class="form-group">
                    <div class="col-md-10">
                        @Html.PasswordFor(m => m.Password, new { @class = "form-control", placeholder = Html.DisplayNameFor(m => m.Password) })
                        @Html.ValidationMessageFor(m => m.Password, "", new { @class = "text-danger" })
                    </div>
                </div>

                <div class="form-group">
                    <div class="col-md-10">
                        @Html.PasswordFor(m => m.ConfirmPassword, new { @class = "form-control", placeholder = Html.DisplayNameFor(m => m.ConfirmPassword) })
                        @Html.ValidationMessageFor(m => m.ConfirmPassword, "", new { @class = "text-danger" })
                    </div>
                </div>

                <div class="form-button">
                    <button id="submit" type="submit" class="ibtn">Registrieren</button>
                </div>

            }


            <div class="page-links mt-5">
                <a href="@Url.Action("Index", "Login")">Hier anmelden</a>
            </div>
        </div>
    </div>
</div>