@model BrandBook.Core.ViewModels.Auth.RegisterViewModel
@using System.Configuration
@using BrandBook.Web.Framework.Helpers
@using BrandBook.Web.Framework.HtmlHelpers


@{
    ViewBag.Title = @Translations.auth_register_title;
    Layout = "~/Areas/Auth/Views/Shared/_Layout.cshtml";
}

@section header {
    @CustomHtmlHelper.RenderReCaptchaRequest("auth_registration")
}

@AuthCustomHelper.RenderBackground("b14828a6-69ac-4d63-a7e0-0f442729e318", "svg")

<div class="form-holder">
    <div class="form-content">
        <div class="form-items">
            <h3>@Translations.auth_register_title</h3>
            <p></p>

            @using (Html.BeginForm("Index", "Register", FormMethod.Post, new { @class = "form-horizontal", role = "form" }))
            {
                @Html.AntiForgeryToken()

                <div class="form-group">
                    <div class="col-md-10">
                        <div class="input-group mb-3">
                            @Html.TextBoxFor(m => m.Email, new { @Value = Model.Email, @type = "Email", @class = "form-control", placeholder = Html.DisplayNameFor(m => m.Email) + "*", aria_describedby = "check-email-icon" })
                            <div class="input-group-append">
                                <span class="input-group-text text-success custom-inputvalidation-box" id="check-email-icon-success" style="display: none;">
                                    <i class="far fa-check-circle"></i>
                                </span>
                                <span class="input-group-text text-danger custom-inputvalidation-box" id="check-email-icon-error" style="display: none;">
                                    <i class="fas fa-times"></i>
                                </span>
                            </div>
                        </div>
                        @Html.ValidationMessageFor(m => m.Email, "", new { @class = "text-danger" })
                    </div>
                </div>

                <div class="form-group">
                    <div class="col-md-10">
                        <div class="input-group mb-3">
                            @Html.TextBoxFor(m => m.Username, new { @Value = Model.Username, @class = "form-control", placeholder = Html.DisplayNameFor(m => m.Username) + "*" })
                            <div class="input-group-append">
                                <span class="input-group-text text-success custom-inputvalidation-box" id="check-username-icon-success" style="display: none;">
                                    <i class="far fa-check-circle"></i>
                                </span>
                                <span class="input-group-text text-danger custom-inputvalidation-box" id="check-username-icon-error" style="display: none;">
                                    <i class="fas fa-times"></i>
                                </span>
                            </div>
                        </div>
                        @Html.ValidationMessageFor(m => m.Username, "", new { @class = "text-danger" })
                    </div>
                </div>

                <div class="form-group">
                    <div class="col-md-10">
                        <div class="input-group mb-3">
                            @Html.PasswordFor(m => m.Password, new { @class = "form-control", placeholder = Html.DisplayNameFor(m => m.Password) + "*", aria_describedby = "button-password-info" })
                            <div class="input-group-append">
                                <button class="btn btn-secondary" type="button" id="button-password-info" onclick="toggleInfoBox('password-info-box')" tabIndex="-1">
                                    <i class="fas fa-info-circle"></i>
                                </button>
                            </div>
                        </div>
                        @Html.ValidationMessageFor(m => m.Password, "", new { @class = "text-danger" })
                        <span class="text-danger" id="validation-password" style="display: none;">
                            The password you entered does not conform to the password policy.
                        </span>
                    </div>
                </div>

                <div class="form-group">
                    <div class="col-md-10">
                        <div class="alert alert-secondary" role="alert" id="password-info-box" style="display: none; font-weight: 200;">
                            At least 8 characters, 1 special character, 1 digit, and at least one uppercase character.
                        </div>
                    </div>
                </div>


                <div class="form-group">
                    <div class="col-md-10">
                        <div class="input-group mb-3">
                            @Html.PasswordFor(m => m.ConfirmPassword, new { @class = "form-control", placeholder = Html.DisplayNameFor(m => m.ConfirmPassword) + "*" })
                            <div class="input-group-append">
                                <span class="input-group-text text-success custom-inputvalidation-box" id="check-confirmpassword-icon-success" style="display: none;">
                                    <i class="far fa-check-circle"></i>
                                </span>
                                <span class="input-group-text text-danger custom-inputvalidation-box" id="check-confirmpassword-icon-error" style="display: none;">
                                    <i class="fas fa-times"></i>
                                </span>
                            </div>
                        </div>
                        @Html.ValidationMessageFor(m => m.ConfirmPassword, "", new { @class = "text-danger" })
                    </div>
                </div>


                <div class="form-group">
                    <div class="col-md-10">
                        <div class="input-group mb-3">
                            @Html.TextBoxFor(m => m.PromotionCode, new { @value = Model.PromotionCode, @class = "form-control", placeholder = Html.DisplayNameFor(m => m.PromotionCode) + "*", aria_describedby = "button-promocode-info" })
                            <div class="input-group-append">
                                <button class="btn btn-secondary" type="button" id="button-promocode-info" onclick="toggleInfoBox('promocode-info-box')" tabIndex="-1">
                                    <i class="fas fa-info-circle"></i>
                                </button>
                            </div>
                        </div>
                        @Html.ValidationMessageFor(m => m.PromotionCode, "", new { @class = "text-danger" })
                    </div>
                </div>

                <div class="form-group">
                    <div class="col-md-10">
                        <div class="alert alert-secondary" role="alert" id="promocode-info-box" style="display: none; font-weight: 200;">
                            Please enter the Access Code you got from us after registering to our Beta-Program.
                        </div>
                    </div>
                </div>

                <label class="container">
                    @Html.DisplayNameFor(m => m.PrivacyPolicyAccepted)*
                    @Html.CheckBoxFor(m => m.PrivacyPolicyAccepted)
                    <span class="auth-custom-checkbox"></span>
                </label>
                @Html.ValidationMessageFor(m => m.PrivacyPolicyAccepted, "", new { @class = "text-danger" })

                if (CustomHelper.IsReCaptchaActive())
                {
                    @Html.HiddenFor(m => m.ReCaptchaToken);
                }


                <div class="form-button">
                    <button id="submit" type="submit" class="ibtn">@Translations.auth_register_register_button_title</button>
                    <a href="@Url.Action("Index", "Login")">@Translations.auth_register_login_title</a>
                </div>

            }

            @Html.ValidationSummary(true, "", new { @class = "text-danger mt-5" })


            <!--
            <div class="other-links">
                <div class="text">@Translations.auth_register_external_title</div>
                <a href="#" class="mt-1 mb-1" style="pointer-events: none; cursor: default;"><i class="fab fa-facebook-f"></i>@Translations.auth_register_external_facebook_title @Translations.auth_register_external_soonavailable</a>
                <a href="#" class="mt-1 mb-1" style="pointer-events: none; cursor: default;"><i class="fab fa-microsoft"></i>@Translations.auth_register_external_microsoft_title @Translations.auth_register_external_soonavailable</a>
            </div>
            -->

            <div class="page-links mt-5">
                <a href="@Url.Action("Index", "Home", new {area = ""})"><i class="fas fa-chevron-left"></i>&nbsp;@Translations.auth_back_button_title</a>
                <a href="@Url.Action("PrivacyPolicy", "Legal", new { area=""})" target="_blank" rel="nofollow noopener">Privacy Policy&nbsp;<i class="fas fa-gavel"></i>&nbsp;<i class="fas fa-chevron-right"></i></a>
            </div>



        </div>
    </div>
</div>


@section scripts {
    @Scripts.Render("~/bundles/packages/auth/registration/validation")    
}