@model BrandCi.Core.ViewModels.App.Brand.Colors.AddColorItemViewModel

<div id="addColorModal" class="modal fade" tabindex="-1" role="dialog" aria-labelledby="AddColorItemLabel" aria-hidden="true">
    <div class="modal-dialog modal-dialog-centered">
        @using (Html.BeginForm("AddColorItem", "Brand", FormMethod.Post, new { @class = "form-validation", role = "form" }))
        {
            @Html.AntiForgeryToken()
            <div class="modal-content">
                <div class="modal-header">
                    <button type="button" class="close" data-dismiss="modal" aria-hidden="true">×</button>
                    <h4 class="modal-title" id="AddColorItemLabel">Add Color-Item</h4>
                </div>
                <div class="modal-body">


                    @Html.HiddenFor(ci => ci.BrandId)

                    <div class="form-group">
                        <div class="col-md-12">
                            @Html.TextBoxFor(ci => ci.Name, new { @class = "form-control", placeholder = Html.DisplayNameFor(ci => ci.Name) })
                            @Html.ValidationMessageFor(ci => ci.Name, "", new { @class = "text-danger" })
                        </div>
                    </div>


                    <div class="form-group">
                        <div class="col-12">
                            <div class="input-group">
                                <div class="input-group-prepend">
                                    <span class="input-group-text" id="hexColor-preaddon">#</span>
                                </div>
                                @Html.TextBoxFor(ci => ci.HexColor, new { @class = "form-control", aria_describedby = "hexColor-preaddon", maxlength = "6", placeholder = Html.DisplayNameFor(ci => ci.HexColor) })
                            </div>
                        </div>
                    </div>



                </div>
                <div class="modal-footer">

                    <button type="submit" class="btn btn-success btn-custom mr-2">
                        <i class="fas fa-save"></i>
                        &nbsp;
                        Add Color.
                    </button>

                    <button type="button" class="btn btn-secondary waves-effect" data-dismiss="modal">Cancel</button>


                </div>
            </div>
            <!-- /.modal-content -->
        }
    </div><!-- /.modal-dialog -->
</div><!-- /.modal -->