@model BrandCi.Core.ViewModels.Auth.External.ExternalLoginConfirmationViewModel
@using BrandCi.Web.Framework.HtmlHelpers


@{
    ViewBag.Title = @Translations.auth_login_title;
    Layout = "~/Areas/Auth/Views/Shared/_Layout.cshtml";
}


@AuthCustomHelper.RenderBackground("b14828a6-69ac-4d63-a7e0-0f442729e318", "svg")

<div class="form-holder">
    <div class="form-content">
        <div class="form-items">
            <h3>Register with @ViewBag.LoginProvider</h3>
            <p></p>




            @using (Html.BeginForm("ExternalConfirmation", "Login", new { Area = "Auth", ReturnUrl = ViewBag.ReturnUrl }, FormMethod.Post, new { @class = "form-horizontal", role = "form" }))
            {
                @Html.AntiForgeryToken()


                @Html.ValidationSummary(true, "", new { @class = "text-danger" })

                <div class="form-group">
                    @Html.LabelFor(m => m.Email, new { @class = "col-md-2 control-label" })
                    <div class="col-md-10">
                        @Html.TextBoxFor(m => m.Email, new { @class = "form-control" })
                        @Html.ValidationMessageFor(m => m.Email, "", new { @class = "text-danger" })
                    </div>
                </div>
                <div class="form-group">
                    <div class="col-md-offset-2 col-md-10">
                        <input type="submit" class="btn btn-default" value="@Translations.auth_login_register_button_title" />
                    </div>
                </div>
            }






            <div class="page-links mt-5">
                <a href="@Url.Action("Index", "Home", new {area = ""})"><i class="fas fa-chevron-left"></i>&nbsp;@Translations.auth_back_button_title</a>
            </div>


        </div>
    </div>
</div>