@using BrandBook.Web.Framework.HtmlHelpers
<!DOCTYPE html>
<html lang="en">
    <head>
        <meta charset="UTF-8">
        <meta name="keywords" content="Brand Management, BrandBook">
        <meta name="author" content="Philipp C. Moser">
        <meta name="description" content="Brand Book V2">

        <meta name="viewport" content="width=device-width, initial-scale=1.0">

        <title>@ViewBag.Title - @ViewBag.MetaAppTitle</title>

        @Styles.Render("~/Content/Css/Auth/Main")

        @RenderSection("header", required: false)
        
        <link rel="icon" type="image/png" sizes="100x100" href="@CustomHelper.ImagePath("favicon", "ico")">
        <link rel="apple-touch-icon" href="@CustomHelper.ImagePath("apple-touch-icon", "png")">

        <link rel="stylesheet" href="https://use.fontawesome.com/releases/v5.8.1/css/all.css" integrity="sha384-50oBUHEmvpQ+1lW4y57PTFmhCaXp0ML5d60M1M7uH2+nqUivzIebhndOJK28anvf" crossorigin="anonymous">

    </head>
    <body>
        <div class="form-body without-side">
            <div class="row">
                @RenderBody()
            </div>
        </div>
    </body>
    @Scripts.Render("~/bundles/jquery")
    @Scripts.Render("~/bundles/packages/auth/scripts")
    @RenderSection("scripts", required: false)
</html>