@using Microsoft.Owin.Security

@{
    var loginProviders = Context.GetOwinContext().Authentication.GetExternalAuthenticationTypes();
    if (loginProviders.Count() > 0) {
    
        using (Html.BeginForm("External", "Login", new { ReturnUrl = "123" })) {

            @Html.AntiForgeryToken()
            <div class="other-links">
                <div class="text">
                    @Translations.auth_login_external_title
                </div>
                
                    @foreach (AuthenticationDescription externalAuth in loginProviders)
                    {

                        <button type="submit" class="btn btn-primary btn-custom" id="@externalAuth.AuthenticationType" name="provider" value="@externalAuth.AuthenticationType" title="Log in using your @externalAuth.Caption account">
                            @if (externalAuth.Caption == "Facebook")
                            {
                                <text>
                                    <i class="fab fa-facebook-f"></i>&nbsp;
                                </text>
                            }

                            @externalAuth.AuthenticationType
                        </button>

                    }
                
            </div>

        }
    }
}






