@using BrandBook.Web.Framework.Helpers
@using BrandBook.Web.Framework.HtmlHelpers

<!DOCTYPE html>
<html lang="@CultureHelper.GetCurrentNeutralCulture()" dir="@(CultureHelper.IsRightToLeft() ? "rtl" : "ltr")">
<head>
    <meta charset="UTF-8">
    <meta name="robots" content="noindex, nofollow">
    <meta name="author" content="Philipp C. Moser">
    <meta name="description" content="Brand Book V2">

    <link rel="icon" type="image/png" sizes="100x100" href="@CustomHelper.ImagePath("4a5b63cd-c7e2-4da7-93d5-f9b2c6ae1584", "png", "FrontendData")">

    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>@ViewBag.Title - @ViewBag.MetaAppTitle</title>
    @Styles.Render("~/Content/Css/App/Main")

    @if (ViewBag.IsDarkModeEnabled)
    {
        @Styles.Render("~/Content/Css/App/Mode/Dark")
    }
    else
    {
        @Styles.Render("~/Content/Css/App/Mode/Basic")
    }



    @if (CultureHelper.IsRightToLeft())
    {
        @Styles.Render("~/Content/Css/App/Main/RTL")
    }

    @Styles.Render("~/Content/Css/Flag-Icon")

    @RenderSection("styles", required: false)
    <link rel="stylesheet" href="https://use.fontawesome.com/releases/v5.8.1/css/all.css" integrity="sha384-50oBUHEmvpQ+1lW4y57PTFmhCaXp0ML5d60M1M7uH2+nqUivzIebhndOJK28anvf" crossorigin="anonymous">
</head>
<body class="fixed-left">

    <!-- Begin page -->
    <div id="wrapper">

        <!-- Top Bar Start -->
        @Html.Partial("~/Areas/App/Views/Shared/_Layout/Partial/_TopBar.cshtml")
        <!-- Top Bar End -->
        <!-- Left Sidebar Start -->
        @RenderSection("navigation", true)
        <!-- Left Sidebar End -->

        <div class="content-page">
            <!-- Start content -->
            <div class="content">
                <div class="container-fluid">

                    <!-- Page-Title -->

                    @RenderBody()


                </div>
                <!-- end container -->
            </div>
            <!-- end content -->

        </div>

    </div>
    <!-- END wrapper -->

    <script>
        var resizefunc = [];
    </script>

    @Scripts.Render("~/bundles/App/Main")
    @RenderSection("scripts", required: false)
    @Scripts.Render("~/bundles/App/Core")


</body>
</html>