@using BrandBook.Web.Framework.HtmlHelpers
@{
    ViewBag.Title = "Startseite";
}
@section styles {
    @Styles.Render("~/Content/Plugins/AnimatedHeadlines")
}

@section pageScriptBundle {
    @Scripts.Render("~/bundles/Frontend/Page/Homepage")
    @Scripts.Render("~/bundles/Plugins/AnimatedHeadlines")
}


<section class="software_banner_area d-flex align-items-center">
    <div class="container">
        <div class="row">
            <div class="col-lg-6 d-flex align-items-center">
                <div class="software_banner_content">
                    <p class="f_500 f_size_50 w_color wow fadeInLeft" data-wow-delay="0.2s">
                            
                            <h1 class="bci-headline letters type">
                                <span class="bci-words-wrapper waiting">
                                    <b class="is-visible">@Translations.frontend_home_index_topsection_title_dynamic_create</b>
                                    <b>@Translations.frontend_home_index_topsection_title_dynamic_document</b>
                                    <b>@Translations.frontend_home_index_topsection_title_dynamic_share</b>
                                    <b>@Translations.frontend_home_index_topsection_title_dynamic_improve</b>
                                </span>
                                <br />
                                <span>@Translations.frontend_home_index_topsection_title_static</span>
                            </h1>
                            

                    </p>
                    <p class="w_color f_size_18 l_height30 mt_30 wow fadeInLeft" data-wow-delay="0.4s">
                        @Translations.frontend_home_index_topsection_subtitle
                    </p>
                    <div class="action_btn d-flex align-items-center mt_40 wow fadeInLeft home-button-group" data-wow-delay="0.6s">

                        <a href="@Url.Action("Overview", "Product" , new {area="" })" class="btn_hover agency_banner_btn cus_mb-10">
                            @Translations.frontend_home_index_topsection_discover_button_title
                        </a>


                        @if (!User.Identity.IsAuthenticated)
                        {
                            <a href="@Url.Action("Index", "Register" , new {area="Auth" })" class="btn_hover agency_banner_btn pay_btn pay_btn_two cus_mb-10">
                                @Translations.frontend_home_index_topsection_test_button_title
                            </a>
                        }

                    </div>
                </div>
            </div>
            <div class="col-lg-6">
                <div class="software_img wow fadeInRight" data-wow-delay="0.2s">
                    @CustomHelper.Image("FrontendData/046415b9-2de1-4d91-a239-e55f6d166da7", "svg")
                </div>
            </div>
        </div>
    </div>
</section>



<section class="seo_service_area sec_pad">
    <div class="container">
        <div class="seo_sec_title text-center mb_70 wow fadeInUp" data-wow-delay="0.3s">
            <h2>
                @Translations.frontend_home_index_features_title_l1<br />
                @Translations.frontend_home_index_features_title_l2
            </h2>
            <p></p>
        </div>
        <div class="row seo_service_info">
            <div class="col-lg-4 col-md-6">
                <div class="seo_service_item">
                    @CustomHelper.Image("FrontendData/e06b7899-c2d9-45c8-ac10-86007e4dcafb", "svg", "", "", "width=\"100%\"")
                    <a href="@Url.Action("Overview", "Product", new {area = ""})">
                        <h4>@Translations.frontend_home_index_features_feature_01_title</h4>
                    </a>
                    <p>@Translations.frontend_home_index_features_feature_01_description</p>
                    <a href="@Url.Action("Overview", "Product", new {area = ""})"><i class="fas fa-arrow-right"></i></a>
                </div>
            </div>
            <div class="col-lg-4 col-md-6">
                <div class="seo_service_item">
                    @CustomHelper.Image("FrontendData/b46e4b1c-42f8-4e27-9e94-41162ec1e32b", "svg", "", "", "width=\"100%\"")
                    <a href="@Url.Action("Overview", "Product", new {area = ""})">
                        <h4>@Translations.frontend_home_index_features_feature_02_title</h4>
                    </a>
                    <p>@Translations.frontend_home_index_features_feature_02_description</p>
                    <a href="@Url.Action("Overview", "Product", new {area = ""})"><i class="fas fa-arrow-right"></i></a>
                </div>
            </div>
            <div class="col-lg-4 col-md-6">
                <div class="seo_service_item">
                    @CustomHelper.Image("FrontendData/7a5f43f7-a053-4ea8-afe2-f0598394f203", "svg", "", "", "width=\"100%\"")
                    <a href="@Url.Action("Overview", "Product", new {area = ""})">
                        <h4>@Translations.frontend_home_index_features_feature_03_title</h4>
                    </a>
                    <p>@Translations.frontend_home_index_features_feature_03_description</p>
                    <a href="@Url.Action("Overview", "Product", new {area = ""})"><i class="fas fa-arrow-right"></i></a>
                </div>
            </div>
            <div class="col-lg-12 text-center mt_40">
                <a href="@Url.Action("Overview", "Product", new {area = ""})" class="seo_btn seo_btn_one btn_hover">All Features</a>
            </div>
        </div>
    </div>
</section>


<section class="startup_fuatures_area sec_pad">
    <div class="container">
        <div class="sec_title mb_70 wow fadeInUp" data-wow-delay="0.4s" style="visibility: visible; animation-delay: 0.4s; animation-name: fadeInUp;">
            <h2 class="f_p f_size_30 l_height40 f_600 t_color text-center">
                How BrandCi supports your branding process
            </h2>
        </div>
        <ul class="nav nav-tabs startup_tab" id="myTab" role="tablist">
            <li class="nav-item">
                <a class="nav-link active" id="creation-tab" data-toggle="tab" href="#creation" role="tab" aria-controls="creation" aria-selected="false">
                    <span class="icon"><i class="fas fa-dice-d20"></i></span>
                    <h3>Brand<br> Creation</h3>
                </a>
            </li>
            <li class="nav-item">
                <a class="nav-link active" id="documentation-tab" data-toggle="tab" href="#documentation" role="tab" aria-controls="documentation" aria-selected="false">
                    <span class="icon"><i class="fas fa-book"></i></span>
                    <h3>Brand<br> Documentation</h3>
                </a>
            </li>
            <li class="nav-item">
                <a class="nav-link active" id="collaboration-tab" data-toggle="tab" href="#collaboration" role="tab" aria-controls="collaboration" aria-selected="false">
                    <span class="icon"><i class="fas fa-users"></i></span>
                    <h3>Brand<br> Collaboration</h3>
                </a>
            </li>
            <li class="nav-item">
                <a class="nav-link active" id="sharing-tab" data-toggle="tab" href="#sharing" role="tab" aria-controls="sharing" aria-selected="false">
                    <span class="icon"><i class="fas fa-share-alt"></i></span>
                    <h3>Brand<br> Sharing</h3>
                </a>
            </li>
            <li class="nav-item">
                <a class="nav-link active" id="optimization-tab" data-toggle="tab" href="#optimization" role="tab" aria-controls="optimization" aria-selected="false">
                    <span class="icon"><i class="fas fa-brain"></i></span>
                    <h3>Brand<br> Optimization</h3>
                </a>
            </li>
        </ul>
        <!--
            <div class="tab-content startup_tab_content" id="myTabContent">
                <div class="tab-pane fade show active" id="creation" role="tabpanel" aria-labelledby="creation-tab">
                    <div class="startup_tab_img">
                        <div class="web_img">
                            <img src="" alt="">
                        </div>
                        <div class="phone_img"><img src="" alt=""></div>
                    </div>
                </div>
                <div class="tab-pane fade" id="documentation" role="tabpanel" aria-labelledby="documentation-tab">
                    <div class="startup_tab_img">
                        <div class="web_img">
                            <img src="" alt="">
                        </div>
                        <div class="phone_img"><img src="" alt=""></div>
                    </div>
                </div>
                <div class="tab-pane fade" id="collaboration" role="tabpanel" aria-labelledby="collaboration-tab">
                    <div class="startup_tab_img">
                        <div class="web_img">
                            <img src="" alt="">
                        </div>
                        <div class="phone_img"><img src="" alt=""></div>
                    </div>
                </div>
                <div class="tab-pane fade" id="sharing" role="tabpanel" aria-labelledby="sharing-tab">
                    <div class="startup_tab_img">
                        <div class="web_img">
                            <img src="" alt="">
                        </div>
                        <div class="phone_img"><img src="" alt=""></div>
                    </div>
                </div>
                <div class="tab-pane fade" id="optimization" role="tabpanel" aria-labelledby="optimization-tab">
                    <div class="startup_tab_img">
                        <div class="web_img">
                            <img src="" alt="">
                        </div>
                        <div class="phone_img"><img src="" alt=""></div>
                    </div>
                </div>
            </div>
        -->
    </div>
</section>








<section class="seo_fact_area sec_pad">
    <div class="home_bubble">
        <div class="bubble b_one"></div>
        <div class="bubble b_three"></div>
        <div class="bubble b_four"></div>
        <div class="bubble b_six"></div>
    </div>
    <div class="container">

        <div class="seo_fact_info">
            <div class="seo_fact_item">
                <div class="text">
                    <div class="counter one">12</div>
                    <p>Happy Users</p>
                </div>
            </div>
            <div class="seo_fact_item">
                <div class="text">
                    <div class="counter two">17</div>
                    <p>Brandings created</p>
                </div>
            </div>
            <div class="seo_fact_item">
                <div class="text">
                    <div class="counter three">8</div>
                    <p>Brandings optimized</p>
                </div>
            </div>
        </div>
    </div>
</section>

<section class="seo_call_to_action_area sec_pad">
    <div class="container">
        <div class="seo_call_action_text">
            <h2>Ready to get started?<br> lt's fast and very easy!</h2>
            <a href="@Url.Action("Index", "Pricing", new {area=""})" class="about_btn">Select your plan</a>
        </div>
    </div>
</section>