@using BrandBook.Web.Framework.HtmlHelpers
@{
    ViewBag.Title = @Translations.frontend_navigation_homepage;
}
@section styles {
    @Styles.Render("~/Content/Plugins/AnimatedHeadlines")
}

@section pageScriptBundle {
    @Scripts.Render("~/bundles/Frontend/Page/Homepage")
    @Scripts.Render("~/bundles/Plugins/AnimatedHeadlines")
}


<section class="software_banner_area d-flex align-items-center">
    <div class="container">
        <div class="row">
            <div class="col-lg-6 d-flex align-items-center">
                <div class="software_banner_content">
                    <p class="f_500 f_size_50 w_color wow fadeInLeft" data-wow-delay="0.2s">
                            
                            <h1 class="bci-headline letters type">
                                <span class="bci-words-wrapper waiting">
                                    <b class="is-visible">@Translations.frontend_home_index_topsection_title_dynamic_create</b>
                                    <b>@Translations.frontend_home_index_topsection_title_dynamic_share</b>
                                    <b>@Translations.frontend_home_index_topsection_title_dynamic_improve</b>
                                </span>
                                <br />
                                <span>@Translations.frontend_home_index_topsection_title_static</span>
                            </h1>
                            

                    </p>
                    <p class="w_color f_size_18 l_height30 mt_30 wow fadeInLeft" data-wow-delay="0.4s">
                        @Translations.frontend_home_index_topsection_subtitle
                    </p>
                    <div class="action_btn d-flex align-items-center mt_40 wow fadeInLeft home-button-group" data-wow-delay="0.6s">

                        <a href="@Url.Action("Overview", "Product" , new {area="" })" class="btn_hover agency_banner_btn cus_mb-10">
                            @Translations.frontend_home_index_topsection_discover_button_title
                        </a>


                        @if (!User.Identity.IsAuthenticated)
                        {
                            <a href="@Url.Action("Index", "Register" , new {area="Auth" })" class="btn_hover agency_banner_btn pay_btn pay_btn_two cus_mb-10">
                                @Translations.frontend_home_index_topsection_test_button_title
                            </a>
                        }

                    </div>
                </div>
            </div>
            <div class="col-lg-6">
                <div class="software_img wow fadeInRight" data-wow-delay="0.2s">
                    @CustomHelper.Image("FrontendData/046415b9-2de1-4d91-a239-e55f6d166da7", "svg")
                </div>
            </div>
        </div>
    </div>
</section>


<section class="saas_features_area_three bg_color sec_pad">
    <div class="container">
        <div class="sec_title text-center mb_70 wow fadeInUp" data-wow-delay="0.3s">
            <h2 class="f_p f_size_30 l_height50 f_600 t_color">
                @Translations.frontend_home_index_features_title_l1<br />
                @Translations.frontend_home_index_features_title_l2
            </h2>
            
        </div>
        <div class="row mb_30 new_service">
            <div class="col-lg-4 col-sm-6">
                <div class="saas_features_item text-center wow fadeInUp" data-wow-delay="0.3s">
                    <div class="number">1</div>
                    <div class="separator"></div>
                    <div class="new_service_content">
                        @CustomHelper.Image("FrontendData/e06b7899-c2d9-45c8-ac10-86007e4dcafb", "svg", "", "", "width=\"100%\"")
                        <h4 class="f_size_20 f_p t_color f_500">
                            @Translations.frontend_home_index_features_feature_01_title
                        </h4>
                        <p class="f_400 f_size_15 mb-0">
                            @Translations.frontend_home_index_features_feature_01_description
                        </p>
                    </div>
                </div>
            </div>
            <div class="col-lg-4 col-sm-6">
                <div class="saas_features_item text-center wow fadeInUp" data-wow-delay="0.5s">
                    <div class="number">2</div>
                    <div class="separator"></div>
                    <div class="new_service_content">
                        @CustomHelper.Image("FrontendData/b46e4b1c-42f8-4e27-9e94-41162ec1e32b", "svg", "", "", "width=\"100%\"")
                        <h4 class="f_size_20 f_p t_color f_500">
                            @Translations.frontend_home_index_features_feature_02_title
                        </h4>
                        <p class="f_400 f_size_15 mb-0">
                            @Translations.frontend_home_index_features_feature_02_description
                        </p>
                    </div>
                </div>
            </div>
            <div class="col-lg-4 col-sm-6">
                <div class="saas_features_item text-center wow fadeInUp" data-wow-delay="0.7s">
                    <div class="number">3</div>
                    <div class="separator"></div>
                    <div class="new_service_content">
                        @CustomHelper.Image("FrontendData/7a5f43f7-a053-4ea8-afe2-f0598394f203", "svg", "", "", "width=\"100%\"")
                        <h4 class="f_size_20 f_p t_color f_500">
                            @Translations.frontend_home_index_features_feature_03_title
                        </h4>
                        <p class="f_400 f_size_15 mb-0">
                            @Translations.frontend_home_index_features_feature_03_description
                        </p>
                    </div>
                </div>
            </div>

        </div>
    </div>
</section>



<section class="software_service_area sec_pad">
    <div class="container">
        <div class="sec_title text-center mb_70 wow fadeInUp" data-wow-delay="0.2s">
            <h2 class="f_p f_size_30 l_height50 f_600 t_color3">
                @Translations.frontend_home_index_supporting_section_title
            </h2>
            <p class="f_400 f_size_16 mb-0">
                @Translations.frontend_home_index_supporting_section_subtitle
            </p>
        </div>
        <div class="row">
            <div class="col-lg-3 col-md-3">
                <ul class="nav nav-tabs software_service_tab" id="myTab" role="tablist">
                    <li class="nav-item">
                        <a class="nav-link active" id="creation-tab" data-toggle="tab" href="#creation" role="tab" aria-controls="creation" aria-selected="true">
                            @Translations.frontend_home_index_supporting_creation_title
                        </a>
                    </li>
                    <li class="nav-item">
                        <a class="nav-link" id="documentation-tab" data-toggle="tab" href="#documentation" role="tab" aria-controls="documentation" aria-selected="false">
                            @Translations.frontend_home_index_supporting_documentation_title
                        </a>
                    </li>
                    <li class="nav-item">
                        <a class="nav-link" id="collaboration-tab" data-toggle="tab" href="#collaboration" role="tab" aria-controls="collaboration" aria-selected="true">
                            @Translations.frontend_home_index_supporting_collaboration_title
                        </a>
                    </li>
                    <li class="nav-item">
                        <a class="nav-link" id="sharing-tab" data-toggle="tab" href="#sharing" role="tab" aria-controls="sharing" aria-selected="false">
                            @Translations.frontend_home_index_supporting_sharing_title
                        </a>
                    </li>
                    <li class="nav-item">
                        <a class="nav-link" id="improvement-tab" data-toggle="tab" href="#improvement" role="tab" aria-controls="improvement" aria-selected="true">
                            @Translations.frontend_home_index_supporting_improvement_title
                        </a>
                    </li>
                </ul>
            </div>
            <div class="col-lg-9 col-md-9">
                <div class="tab-content software_service_tab_content">
                    <div class="tab-pane fade show active" id="creation" role="tabpanel" aria-labelledby="creation-tab">
                        <div class="row">
                            <div class="col-lg-5 col-md-6">
                                <div class="software_service_item mb_70 wow fadeInUp" data-wow-delay="0.2s">
                                    <i class="fas fa-life-ring"></i>
                                    <h5 class="mt_30 mb_15">
                                        @Translations.frontend_home_index_supporting_creation_assistance_title
                                        &nbsp;<span class="badge badge-primary">@Translations.frontend_home_index_supporting_badge_beta</span>
                                    </h5>
                                    <p>@Translations.frontend_home_index_supporting_creation_assistance_description</p>
                                </div>
                            </div>
                            <div class="col-lg-5 offset-lg-2 col-md-6">
                                <div class="software_service_item mb_70 wow fadeInUp" data-wow-delay="0.3s">
                                    <i class="fas fa-lightbulb"></i>
                                    <h5 class="mt_30 mb_15">
                                        @Translations.frontend_home_index_supporting_creation_inspiration_title
                                        &nbsp;<span class="badge badge-secondary">@Translations.frontend_home_index_supporting_badge_availablesoon</span>
                                    </h5>
                                    <p>@Translations.frontend_home_index_supporting_creation_inspiration_description</p>
                                </div>
                            </div>
                            <div class="col-lg-5 col-md-6">
                                <div class="software_service_item mb_70 wow fadeInUp" data-wow-delay="0.4s">
                                    <i class="fas fa-sliders-h"></i>
                                    <h5 class="mt_30 mb_15">@Translations.frontend_home_index_supporting_creation_scopes_title</h5>
                                    <p>@Translations.frontend_home_index_supporting_creation_scopes_description</p>
                                </div>
                            </div>
                            <div class="col-lg-5 offset-lg-2 col-md-6">
                                <div class="software_service_item mb_70 wow fadeInUp" data-wow-delay="0.5s">
                                    <i class="fas fa-database"></i>
                                    <h5 class="mt_30 mb_15">
                                        @Translations.frontend_home_index_supporting_creation_resources_title
                                        &nbsp;<span class="badge badge-secondary">@Translations.frontend_home_index_supporting_badge_availablesoon</span>
                                    </h5>
                                    <p>@Translations.frontend_home_index_supporting_creation_resources_description</p>
                                </div>
                            </div>
                        </div>
                    </div>
                    <div class="tab-pane fade" id="documentation" role="tabpanel" aria-labelledby="documentation-tab">
                        <div class="row">
                            <div class="col-lg-5 col-md-6">
                                <div class="software_service_item mb_70">
                                    <i class="fas fa-cloud"></i>
                                    <h5 class="mt_30 mb_15">@Translations.frontend_home_index_supporting_documentation_save_title</h5>
                                    <p>@Translations.frontend_home_index_supporting_documentation_save_description</p>
                                </div>
                            </div>
                            <div class="col-lg-5 offset-lg-2 col-md-6">
                                <div class="software_service_item mb_70">
                                    <i class="fas fa-shapes"></i>
                                    <h5 class="mt_30 mb_15">@Translations.frontend_home_index_supporting_documentation_contenttypes_title</h5>
                                    <p>@Translations.frontend_home_index_supporting_documentation_contenttypes_description</p>
                                </div>
                            </div>
                        </div>
                    </div>
                    <div class="tab-pane fade" id="collaboration" role="tabpanel" aria-labelledby="collaboration-tab">
                        <div class="row">
                            <div class="col-lg-5 col-md-6">
                                <div class="software_service_item mb_70">
                                    <i class="fas fa-users"></i>
                                    <h5 class="mt_30 mb_15">@Translations.frontend_home_index_supporting_collaboration_together_title</h5>
                                    <p>@Translations.frontend_home_index_supporting_collaboration_together_description</p>
                                </div>
                            </div>
                            <div class="col-lg-5 offset-lg-2 col-md-6">
                                <div class="software_service_item mb_70">
                                    <i class="fas fa-comments"></i>
                                    <h5 class="mt_30 mb_15">
                                        @Translations.frontend_home_index_supporting_collaboration_feedback_title
                                        &nbsp;<span class="badge badge-secondary">@Translations.frontend_home_index_supporting_badge_availablesoon</span>
                                    </h5>
                                    <p>@Translations.frontend_home_index_supporting_collaboration_feedback_description</p>
                                </div>
                            </div>
                            <div class="col-lg-5 col-md-6">
                                <div class="software_service_item mb_70">
                                    <i class="fas fa-fingerprint"></i>
                                    <h5 class="mt_30 mb_15">@Translations.frontend_home_index_supporting_collaboration_accessrights_title</h5>
                                    <p>@Translations.frontend_home_index_supporting_collaboration_accessrights_description</p>
                                </div>
                            </div>
                        </div>
                    </div>
                    <div class="tab-pane fade" id="sharing" role="tabpanel" aria-labelledby="sharing-tab">
                        <div class="row">
                            <div class="col-lg-5 col-md-6">
                                <div class="software_service_item mb_70">
                                    <i class="fas fa-share-alt"></i>
                                    <h5 class="mt_30 mb_15">@Translations.frontend_home_index_supporting_sharing_agencies_title</h5>
                                    <p>@Translations.frontend_home_index_supporting_sharing_agencies_description</p>
                                </div>
                            </div>
                            <div class="col-lg-5 offset-lg-2 col-md-6">
                                <div class="software_service_item mb_70">
                                    <i class="fas fa-eye"></i>
                                    <h5 class="mt_30 mb_15">@Translations.frontend_home_index_supporting_sharing_publish_title</h5>
                                    <p>@Translations.frontend_home_index_supporting_sharing_publish_description</p>
                                </div>
                            </div>
                            <div class="col-lg-5 col-md-6">
                                <div class="software_service_item mb_70">
                                    <i class="fas fa-shield-alt"></i>
                                    <h5 class="mt_30 mb_15">@Translations.frontend_home_index_supporting_sharing_limitaccess_title</h5>
                                    <p>@Translations.frontend_home_index_supporting_sharing_limitaccess_description</p>
                                </div>
                            </div>
                        </div>
                    </div>
                    <div class="tab-pane fade" id="improvement" role="tabpanel" aria-labelledby="improvement-tab">
                        <div class="row">
                            <div class="col-lg-5 col-md-6">
                                <div class="software_service_item mb_70">
                                    <i class="fas fa-robot"></i>
                                    <h5 class="mt_30 mb_15">
                                        @Translations.frontend_home_index_supporting_improvement_assistance_title
                                        &nbsp;<span class="badge badge-primary">@Translations.frontend_home_index_supporting_badge_beta</span>
                                    </h5>
                                    <p>@Translations.frontend_home_index_supporting_improvement_assistance_description</p>
                                </div>
                            </div>
                            <div class="col-lg-5 offset-lg-2 col-md-6">
                                <div class="software_service_item mb_70">
                                    <i class="fas fa-magic"></i>
                                    <h5 class="mt_30 mb_15">
                                        @Translations.frontend_home_index_supporting_improvement_improvements_title
                                        &nbsp;<span class="badge badge-secondary">@Translations.frontend_home_index_supporting_badge_availablesoon</span>
                                    </h5>
                                    <p>@Translations.frontend_home_index_supporting_improvement_improvements_description</p>
                                </div>
                            </div>
                            <div class="col-lg-5 col-md-6">
                                <div class="software_service_item mb_70">
                                    <i class="fas fa-check-circle"></i>
                                    <h5 class="mt_30 mb_15">
                                        @Translations.frontend_home_index_supporting_improvement_suggestions_title
                                        &nbsp;<span class="badge badge-secondary">@Translations.frontend_home_index_supporting_badge_availablesoon</span>
                                    </h5>
                                    <p>@Translations.frontend_home_index_supporting_improvement_suggestions_description</p>
                                </div>
                            </div>
                            <div class="col-lg-5 offset-lg-2 col-md-6">
                                <div class="software_service_item mb_70">
                                    <i class="fas fa-history"></i>
                                    <h5 class="mt_30 mb_15">
                                        @Translations.frontend_home_index_supporting_improvement_history_title
                                        &nbsp;<span class="badge badge-secondary">@Translations.frontend_home_index_supporting_badge_availablesoon</span>
                                    </h5>
                                    <p>@Translations.frontend_home_index_supporting_improvement_history_description</p>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
</section>






<section class="seo_fact_area sec_pad">
    <div class="home_bubble">
        <div class="bubble b_one"></div>
        <div class="bubble b_three"></div>
        <div class="bubble b_four"></div>
        <div class="bubble b_six"></div>
    </div>
    <div class="container">

        <div class="seo_fact_info">
            <div class="seo_fact_item">
                <div class="text">
                    <div class="counter one">12</div>
                    <p>@Translations.frontend_home_index_bubbles_happyusers</p>
                </div>
            </div>
            <div class="seo_fact_item">
                <div class="text">
                    <div class="counter two">17</div>
                    <p>@Translations.frontend_home_index_bubbles_brandingscreated</p>
                </div>
            </div>
            <div class="seo_fact_item">
                <div class="text">
                    <div class="counter three">8</div>
                    <p>@Translations.frontend_home_index_bubbles_brandingsimproved</p>
                </div>
            </div>
        </div>
    </div>
</section>

<section class="seo_call_to_action_area sec_pad">
    <div class="container">
        <div class="seo_call_action_text">
            <h2>@Translations.frontend_home_index_calltoaction_title_1<br>
                @Translations.frontend_home_index_calltoaction_title_2</h2>
            <a href="@Url.Action("Index", "Pricing", new {area=""})" class="about_btn">@Translations.frontend_home_index_calltoaction_button_title</a>
        </div>
    </div>
</section>