@using BrandBook.Web.Framework.HtmlHelpers

@{
    ViewBag.Title = "Overview";
}


    <section class="breadcrumb_area">
        @CustomHelper.Image("FrontendData/6de4d537-9a97-4b39-bda4-7b491a3d2ce6", "png", "breadcrumb_shap")
        <div class="container">
            <div class="breadcrumb_content text-center">
                <h1 class="f_p f_700 f_size_50 w_color l_height50 mb_20">Define your Brand in a continuous process</h1>
                <p class="f_400 w_color f_size_16 l_height26"></p>
            </div>
        </div>
    </section>

<section class="process_area bg_color sec_pad">
    <div class="container">
        <div class="features_info">
            @CustomHelper.Image("FrontendData/ebc22580-a6fe-40ce-9733-274ca0a8337d", "png", "dot_img")
            <div class="row agency_featured_item mt-0 flex-row-reverse">
                <div class="col-md-6">
                    <div class="agency_featured_img text-right">
                        @CustomHelper.Image("FrontendData/13fe82d4-3866-4ef2-819d-63b0fa438ffa", "svg")
                    </div>
                </div>
                <div class="col-md-6">
                    <div class="agency_featured_content pr_70 pl_70">
                        <div class="dot"><span class="dot1"></span><span class="dot2"></span></div>
                        <h1>1</h1>
                        <h3>Brand Creation</h3>
                        <p>
                            Cupcake ipsum dolor sit amet bonbon sugar plum. Wafer candy canes bonbon wafer lemon drops caramels tootsie roll jelly beans. Dragée sweet roll bear claw. Croissant danish liquorice.
                        </p>
                        <a href="#" class="icon mt_30"><i class="fas fa-arrow-right"></i></a>
                    </div>
                </div>
            </div>
            <div class="row agency_featured_item agency_featured_item_two">
                <div class="col-md-6">
                    <div class="agency_featured_img text-right">
                        @CustomHelper.Image("FrontendData/9f452dd3-10f8-4502-854e-7180cbab2ca9", "svg")
                    </div>
                </div>
                <div class="col-md-6">
                    <div class="agency_featured_content pl_100">
                        <div class="dot"><span class="dot1"></span><span class="dot2"></span></div>
                        <h1>2</h1>
                        <h3>Brand Documentation</h3>
                        <p>
                            Cupcake ipsum dolor sit amet bonbon sugar plum. Wafer candy canes bonbon wafer lemon drops caramels tootsie roll jelly beans. Dragée sweet roll bear claw. Croissant danish liquorice.
                        </p>
                        <a href="#" class="icon mt_30"><i class="fas fa-arrow-right"></i></a>
                    </div>
                </div>
            </div>
            <div class="row agency_featured_item flex-row-reverse">
                <div class="col-md-6">
                    <div class="agency_featured_img text-right">
                        @CustomHelper.Image("FrontendData/47c47fd7-e6a3-4926-a637-a951b0e8ee67", "svg")
                    </div>
                </div>
                <div class="col-md-6">
                    <div class="agency_featured_content pr_70 pl_70">
                        <div class="dot"><span class="dot1"></span><span class="dot2"></span></div>
                        <h1>3</h1>
                        <h3>Brand Collaboration</h3>
                        <p>
                            Cupcake ipsum dolor sit amet bonbon sugar plum. Wafer candy canes bonbon wafer lemon drops caramels tootsie roll jelly beans. Dragée sweet roll bear claw. Croissant danish liquorice.
                        </p>
                        <a href="#" class="icon mt_30"><i class="fas fa-arrow-right"></i></a>
                    </div>
                </div>
            </div>
            <div class="row agency_featured_item agency_featured_item_two">
                <div class="col-md-6">
                    <div class="agency_featured_img text-right">
                        @CustomHelper.Image("FrontendData/13fe82d4-3866-4ef2-819d-63b0fa438ffa", "svg")
                    </div>
                </div>
                <div class="col-md-6">
                    <div class="agency_featured_content pl_100">
                        <div class="dot"><span class="dot1"></span><span class="dot2"></span></div>
                        <h1>4</h1>
                        <h3>Brand Sharing</h3>
                        <p>
                            Cupcake ipsum dolor sit amet bonbon sugar plum. Wafer candy canes bonbon wafer lemon drops caramels tootsie roll jelly beans. Dragée sweet roll bear claw. Croissant danish liquorice.
                        </p>
                        <a href="#" class="icon mt_30"><i class="fas fa-arrow-right"></i></a>
                    </div>
                </div>
            </div>
            <div class="row agency_featured_item flex-row-reverse">
                <div class="col-md-6">
                    <div class="agency_featured_img text-right">
                        @CustomHelper.Image("FrontendData/9f452dd3-10f8-4502-854e-7180cbab2ca9", "svg")
                    </div>
                </div>
                <div class="col-md-6">
                    <div class="agency_featured_content pr_70 pl_70">
                        <div class="dot"><span class="dot1"></span><span class="dot2"></span></div>
                        <h1>5</h1>
                        <h3>Brand Optimization</h3>
                        <p>
                            Cupcake ipsum dolor sit amet bonbon sugar plum. Wafer candy canes bonbon wafer lemon drops caramels tootsie roll jelly beans. Dragée sweet roll bear claw. Croissant danish liquorice.
                        </p>
                        <a href="@Url.Action("Index", "Register", new { area="Auth"})" class="btn_hover agency_banner_btn mt_30">Start your process here</a>
                    </div>
                </div>
            </div>
            <div class="dot middle_dot"><span class="dot1"></span><span class="dot2"></span></div>
        </div>
    </div>
</section>