@{
    var culture = System.Threading.Thread.CurrentThread.CurrentUICulture.Name.ToLowerInvariant();
    var routeData = ViewContext.RouteData;
}

@helper Selected(string code, string culture)
{
    if (code == culture)
    {
        @:checked="checked" class="checked"
    }
}

@helper SelectedLabel(string code, string culture)
{
    if (code == culture)
    {
        @:class="checked"
    }
}

@helper CurrentLanguageName(string culture)
{

    if (culture == "de-de")
    {
        @:German (Germany)
    }
    else if (culture == "ar-sa")
    {
        @:Arabic (Saudi Arabia)
    }
    else
    {
        @:English (United States)
    }
}





<div class="f_widget about-widget">
    <h3 class="f-title f_600 f_size_18 mb_40">
        @Translations.frontend_footer_language_title
    </h3>

    @using (Html.BeginForm("SetCulture", "Culture", new { area = "" }))
    {
        <input type="hidden" name="currentAction" value="@routeData.Values["action"].ToString()" />
        <input type="hidden" name="currentController" value="@routeData.Values["controller"].ToString()" />

        <ul class="list-unstyled f_list">
            <li class="dropdown submenu nav-item">
                <a title="Language Selection" class="dropdown-toggle nav-link" data-toggle="dropdown" role="button"
                   aria-haspopup="true" aria-expanded="false" href="#">
                    @CurrentLanguageName(culture)
                </a>
                <ul role="menu" class="dropdown-menu languageSelection">

                    <li class="nav-item">
                        <label class="nav-link" for="de-de">
                            <input name="culture" class="language-selection-item" id="de-de" value="de-de" type="radio" @Selected("de-de", culture) />
                            @Translations.frontend_footer_language_dede
                        </label>
                    </li>
                    <li class="nav-item">
                        <label class="nav-link" for="en-us">
                            <input name="culture" class="language-selection-item" id="en-us" value="en-us" type="radio" @Selected("en-us", culture) />
                            @Translations.frontend_footer_language_enus
                        </label>
                    </li>
                    <li class="nav-item">
                        <label class="nav-link" for="ar-sa">
                            <input name="culture" class="language-selection-item" id="ar-sa" value="ar-sa" type="radio" @Selected("ar-sa", culture) />
                            @Translations.frontend_footer_language_arsa
                        </label>
                    </li>

                </ul>
            </li>
        </ul>
    }

</div>