@using System.Configuration
@using BrandBook.Web.Framework.HtmlHelpers

@{
    var currentYear = DateTime.Now.ToString("yyyy");

    var facebookPageUrl = ConfigurationManager.AppSettings["FacebookPageUrl"];
    var githubPageUrl = ConfigurationManager.AppSettings["GithubPageUrl"];
}

<footer class="footer_area footer_three">
    <div class="footer_top">
        <div class="container">
            <div class="row">
                <div class="col-lg-3">
                    <div class="f_widget company_widget">
                        <a href="@Url.Action("Index", "Home", new { area = "" })" class="f-logo">
                            @CustomHtmlHelper.Image("FrontendData/83bf9b8e-a9ee-4e86-9a15-5100a8aa9e97.svg", "d-inline-block align-top", additionalAttributes: "width=\"100\"")
                        </a>
                        <p class="f_400 f_p f_size_15 mb-0 l_height28 mt_30">
                            @Translations.frontend_footer_slogan
                        </p>
                        <p>
                            <div class="footer-social-links">
                                <a href="@facebookPageUrl" target="_blank" rel="nofollow noopener" title="Open Facebook Page">
                                    <i class="fab fa-facebook"></i>
                                </a>
                                <a href="@githubPageUrl" target="_blank" rel="nofollow noopener" title="Open Github Page">
                                    <i class="fab fa-github"></i>
                                </a>
                                <a href="@Url.Action("Contact", "Support", new { area = "" })" title="Send Contact Request">
                                    <i class="fas fa-envelope"></i>
                                </a>
                            </div>
                        </p>
                    </div>
                </div>
                <div class="col-lg-3">
                    <div class="f_widget about-widget pl-30">
                        <h3 class="f-title f_600 f_size_18 mb_40">
                            @Translations.frontend_footer_product_title
                        </h3>
                        <ul class="list-unstyled f_list">
                            <li>
                                <a href="@Url.Action("Overview", "Product", new { area = "" })">
                                    @Translations.frontend_footer_product_solutions
                                </a>
                            </li>
                            <li>
                                <a href="@Url.Action("Index", "Pricing", new { area = "" })">
                                    @Translations.frontend_footer_product_pricing
                                </a>
                            </li>
                            <li>
                                <a href="@(ConfigurationManager.AppSettings["BrandCiDocumentationUrl"])" target="_blank" rel="nofollow noopener">
                                    @Translations.frontend_footer_product_documentation
                                </a>
                            </li>
                        </ul>
                    </div>
                </div>
                <div class="col-lg-3">
                    <div class="f_widget about-widget">
                        <h3 class="f-title f_600 f_size_18 mb_40">
                            @Translations.frontend_footer_support_title
                        </h3>
                        <ul class="list-unstyled f_list">
                            <li>
                                <a href="@Url.Action("Faq", "Support", new { area = "" })">
                                    @Translations.frontend_footer_support_faq
                                </a>
                            </li>
                            <li>
                                <a href="@Url.Action("Contact", "Support", new {area = ""})">
                                    @Translations.frontend_footer_support_contact
                                </a>
                            </li>
                            @if (User.Identity.IsAuthenticated)
                            {
                                <li>
                                    <a href="@Url.Action("PrivacyRequest", "Legal", new {area = ""})">
                                        @Translations.frontend_footer_support_privacyrequest
                                    </a>
                                </li>
                            }
                        </ul>
                        
                    </div>
                </div>
                
                <div class="col-lg-3">
                    @Html.Partial("~/Views/Shared/Layout/Partial/_LanguageSelectionFooter.cshtml")
                </div>
                
            </div>
        </div>
    </div>
    <div class="footer_bottom">
        <div class="container">
            <div class="row">
                <div class="col-lg-6">

                    <p class="mb-0 f_400">
                        <a href="@(ConfigurationManager.AppSettings["AuthorMainWebsiteUrl"])" target="_blank" rel="nofollow noopener">
                            @Translations.frontend_footer_copyright
                        </a>
                        © @currentYear @Translations.frontend_footer_allrightsreserved
                    </p>

                </div>
                <div class="col-lg-6">
                    <ul class="f_menu text-right list-unstyled">
                        <li>
                            <a href="@Url.Action("Imprint", "Legal", new {area = ""})">
                                @Translations.frontend_footer_legal_imprint
                            </a>
                        </li>
                        <li>
                            <a href="@Url.Action("PrivacyPolicy", "Legal", new {area = ""})">
                                @Translations.frontend_footer_legal_privacypolicy
                            </a>
                        </li>
                    </ul>
                </div>
            </div>
        </div>
    </div>
</footer>