@using BrandBook.Web.Framework.HtmlHelpers
@using Microsoft.AspNet.Identity


<header class="header_area">
    <nav class="navbar navbar-expand-lg menu_one menu_five">
        <div class="container">
            <a class="navbar-brand sticky_logo" href="@Url.Action("Index", "Home")">
                <span class="nav-logo-bright">
                    @CustomHtmlHelper.Image("d7eea268-cd8e-4bdf-8281-de8551afc7fe", "svg", "d-inline-block align-top", "", "width=\"200\"")
                </span>
                <span class="nav-logo-dark" style="display: none;">
                    @CustomHtmlHelper.Image("7996c187-3620-495d-985d-e823b3f96c5c", "svg", "d-inline-block align-top", "", "width=\"200\"")
                </span>
                
            </a>


            <button class="navbar-toggler collapsed" type="button" data-toggle="collapse" data-target="#navbarSupportedContent" aria-controls="navbarSupportedContent" aria-expanded="false" aria-label="Toggle navigation">
                <span class="menu_toggle">
                    <span class="hamburger">
                        <span></span>
                        <span></span>
                        <span></span>
                    </span>
                    <span class="hamburger-cross">
                        <span></span>
                        <span></span>
                    </span>
                </span>
            </button>

            <div class="collapse navbar-collapse" id="navbarSupportedContent">
                <ul class="navbar-nav ml-auto mr-auto menu w_menu pl_120">
                    <li class="nav-item">
                        <a title="@Translations.frontend_navigation_homepage" class="nav-link" role="button" href="@Url.Action("Index", "Home", new {area = ""})">
                            @Translations.frontend_navigation_homepage
                        </a>
                    </li>

                    <li class="nav-item">
                        <a title="@Translations.frontend_navigation_product" class="nav-link" role="button" href="@Url.Action("Overview", "Product", new {area = ""})">
                            @Translations.frontend_navigation_product
                        </a>
                    </li>

                    <li class="nav-item">
                        <a title="@Translations.frontend_navigation_pricing" class="nav-link" role="button" href="@Url.Action("Index", "Pricing", new {area = ""})">
                            @Translations.frontend_navigation_pricing
                        </a>
                    </li>

                    <li class="nav-item">
                        <a title="@Translations.frontend_navigation_blog" class="nav-link" role="button" href="@Url.Action("Overview", "Blog", new {area = ""})">
                            @Translations.frontend_navigation_blog
                        </a>
                    </li>

                    <li class="nav-item">
                        <a title="@Translations.frontend_navigation_contact" class="nav-link" role="button" href="@Url.Action("Contact", "Support", new {area = ""})">
                            @Translations.frontend_navigation_contact
                        </a>
                    </li>


                </ul>
                <div class="nav-button-group">
                    @if (User.Identity.IsAuthenticated)
                    {
                        using (Html.BeginForm("Index", "Logout", new {area = "Auth"}, FormMethod.Post, new {id = "logoutForm"}))
                        {
                            @Html.AntiForgeryToken()

                            <a href="@Url.RouteUrl("App_entrypoint")" class="current-user-profile-link" title="@Translations.frontend_navigation_authorized_openprofile">
                                <i class="fas fa-user"></i>&nbsp;
                                @User.Identity.GetUserName() &nbsp; &nbsp;
                            </a>

                            <div class="current-user-mobile-separation"><br /></div>

                            <span class="auth-user-fe-buttons">
                                <a class="btn btn-success nav-button" href="@Url.RouteUrl("App_entrypoint")">
                                    @Translations.frontend_navigation_authorized_gotoapp
                                </a>

                                <a href="javascript:document.getElementById('logoutForm').submit()" class="btn btn-danger nav-button">
                                    <i class="fas fa-sign-out-alt"></i>
                                </a>
                            </span>

                            
                        }
                    }
                    else
                    {
                        <a href="@Url.Action("Index", "Login", new {area = "Auth"})" class="btn_get btn_hover">
                            @Translations.frontend_navigation_login_button
                        </a>

                        <a href="@Url.Action("Index", "Register", new {area = "Auth"})" class="btn_get btn_hover">
                            @Translations.frontend_navigation_register_button
                        </a>
                    }
                </div>

                




            </div>
        </div>
    </nav>
</header>