@using BrandBook.Resources
@using BrandBook.Web.Framework.HtmlHelpers
<div class="topbar">

    <!-- LOGO -->
    <div class="topbar-left">
        <div class="text-center">
            <a href="@Url.Action("Index", "Dashboard", new {area = "App"})" class="logo">
                @CustomHelper.Image("b3eb0b70-1229-4b6c-9819-fbd1a3e7db70", "svg", additionalAttributes: "height=\"40\"") <span>BrandCi</span>
            </a>
        </div>
    </div>

    <!-- Button mobile view to collapse sidebar menu -->
    <nav class="navbar-custom">

        <ul class="list-inline float-right mb-0">

            <li class="list-inline-item dropdown notification-list">
                <a class="nav-link dropdown-toggle waves-effect waves-light nav-user" data-toggle="dropdown" href="#" role="button"
                   aria-haspopup="false" aria-expanded="false">
                    @CustomHelper.Image("UserData/94c87e0c-4c8a-4398-ab25-37a6333de0e0", "jpg", "rounded-circle")
                </a>
                <div class="dropdown-menu dropdown-menu-right profile-dropdown " aria-labelledby="Preview">
                    <!-- item-->
                    <div class="dropdown-item noti-title">
                        <h5 class="text-overflow">
                            <small>
                                @User.Identity.Name
                            </small>
                        </h5>
                    </div>

                    <!-- item-->
                    <a href="@Url.Action("Index", "Profile" , new {area="App" })" class="dropdown-item notify-item">
                        <i class="fas fa-user"></i> <span>@Translations.app_usermenu_profile</span>
                    </a>

                    <!-- item-->
                    <a href="@Url.Action("Index", "AppCulture", new {area="App"})" class="dropdown-item notify-item">
                        <i class="fas fa-globe"></i> <span>@Translations.app_usermenu_languageselection</span>
                    </a>
                    
                    <!-- item-->
                    <a href="@Url.Action("Subscriptions", "Profile", new{ area = "App" })" class="dropdown-item notify-item">
                        <i class="fas fa-key"></i><span> @Translations.app_mainnavigation_subscriptions </span>
                    </a>
                    

                    

                    <!-- item-->
                    <a href="@Url.Action("Index", "Home", new {area = ""})" class="dropdown-item notify-item">
                        <i class="fas fa-chevron-circle-left"></i> <span>@Translations.app_usermenu_leaveapp</span>
                    </a>

                    @using (Html.BeginForm("Index", "Logout", new { area = "Auth" }, FormMethod.Post, new { id = "logoutForm" }))
                    {
                        @Html.AntiForgeryToken()

                        <a href="javascript:document.getElementById('logoutForm').submit()" class="dropdown-item notify-item">
                            <i class="fas fa-sign-out-alt"></i> <span>@Translations.app_usermenu_logout</span>
                        </a>
                    }


                </div>
            </li>

        </ul>

        <ul class="list-inline menu-left mb-0">
            <li class="float-left">
                <button class="button-menu-mobile open-left waves-light waves-effect">
                    <i class="fas fa-bars"></i>
                </button>
            </li>
        </ul>

    </nav>

</div>