@model BrandBook.Core.ViewModels.Auth.LoginViewModel
@using BrandBook.Web.Framework.HtmlHelpers


@{
    ViewBag.Title = @Translations.auth_login_title;
    Layout = "~/Areas/Auth/Views/Shared/_Layout.cshtml";
}

@section header {
    @CustomHelper.RenderReCaptchaRequest("auth_login")
}


@AuthCustomHelper.RenderBackground("b14828a6-69ac-4d63-a7e0-0f442729e318", "svg")

<div class="form-holder">
    <div class="form-content">
        <div class="form-items">
            <h3>@Translations.auth_login_title</h3>
            <p></p>




            @using (Html.BeginForm("Index", "Login", FormMethod.Post, new { @class = "form-validation", role = "form" }))
            {
                @Html.AntiForgeryToken()

                <div class="form-group">
                    <div class="col-md-12">
                        @Html.TextBoxFor(m => m.UserName, new { @class = "form-control", placeholder = Html.DisplayNameFor(m => m.UserName) })
                        @Html.ValidationMessageFor(m => m.UserName, "", new { @class = "text-danger" })
                    </div>
                </div>

                <div class="form-group">
                    <div class="col-md-12">
                        @Html.PasswordFor(m => m.Password, new { @class = "form-control", placeholder = Html.DisplayNameFor(m => m.Password) })
                        @Html.ValidationMessageFor(m => m.Password, "", new { @class = "text-danger" })
                    </div>
                </div>


                <label class="container">
                    @Html.DisplayNameFor(m => m.RememberMe)
                    @Html.CheckBoxFor(m => m.RememberMe)
                    <span class="auth-custom-checkbox"></span>
                </label>

                if (CustomHelper.IsReCaptchaActive())
                {
                    @Html.HiddenFor(m => m.ReCaptchaToken);
                }


                <div class="form-button mt-5">
                    <button id="submit" type="submit" class="ibtn">@Translations.auth_login_login_button_title</button>
                    <a href="@Url.Action("ForgotPassword", "Processes")">@Translations.auth_login_resetpassword_title</a>
                </div>

            }

            @Html.ValidationSummary(false, "", new { @class = "text-danger mt-5" })


            @Html.Partial("~/Areas/Auth/Views/Shared/Partial/_ExternalLoginList.cshtml")


            <div class="page-links mt-5">
                <a href="@Url.Action("Index", "Home", new {area = ""})"><i class="fas fa-chevron-left"></i>&nbsp;@Translations.auth_back_button_title</a>
                <a href="@Url.Action("Index", "Register")">@Translations.auth_login_register_button_title&nbsp;<i class="fas fa-chevron-right"></i></a>
            </div>


        </div>
    </div>
</div>