@using BrandBook.Web.Framework.HtmlHelpers
@model BrandBook.Web.Framework.ViewModels.Auth.LoginViewModel

@{
    ViewBag.Title = @Translations.auth_login_title;
    Layout = "~/Areas/Auth/Views/Shared/_Layout.cshtml";
}


@AuthCustomHelper.RenderBackground("https://content.philipp-moser.de/wlo0t5byw6/b14828a6-69ac-4d63-a7e0-0f442729e318.svg")

<div class="form-holder">
    <div class="form-content">
        <div class="form-items">
            <h3>@Translations.auth_login_title</h3>
            <p></p>
            
       


            @using (Html.BeginForm("Index", "Login", FormMethod.Post, new { @class = "form-validation", role = "form" }))
            {
                @Html.AntiForgeryToken()

                <div class="form-group">
                    <div class="col-md-12">
                        @Html.TextBoxFor(m => m.UserName, new { @class = "form-control", placeholder = Html.DisplayNameFor(m => m.UserName) })
                        @Html.ValidationMessageFor(m => m.UserName, "", new { @class = "text-danger" })
                    </div>
                </div>

                <div class="form-group">
                    <div class="col-md-12">
                        @Html.PasswordFor(m => m.Password, new { @class = "form-control", placeholder = Html.DisplayNameFor(m => m.Password) })
                        @Html.ValidationMessageFor(m => m.Password, "", new { @class = "text-danger" })
                    </div>
                </div>
              

                <label class="container">@Html.DisplayNameFor(m => m.RememberMe)
                    @Html.CheckBoxFor(m => m.RememberMe)
                    <span class="auth-custom-checkbox"></span>
                </label>
                

                <div class="form-button mt-5">
                    <button id="submit" type="submit" class="ibtn">@Translations.auth_login_login_button_title</button>
                    <a href="@Url.Action("Index", "ForgotPassword")">@Translations.auth_login_resetpassword_title</a>
                </div>

            }
            
            
            
            @Html.ValidationSummary(true, "", new { @class = "alert-summary alert alert-danger mt-5" })
            
            <div class="other-links">
                <div class="text">@Translations.auth_register_external_title</div>
                <a href="#" class="mt-1 mb-1" style="pointer-events: none; cursor: default;"><i class="fab fa-facebook-f"></i>@Translations.auth_register_external_facebook_title @Translations.auth_register_external_soonavailable</a>
                <a href="#" class="mt-1 mb-1" style="pointer-events: none; cursor: default;"><i class="fab fa-microsoft"></i>@Translations.auth_register_external_microsoft_title @Translations.auth_register_external_soonavailable</a>
            </div>


            <div class="page-links mt-5">
                <a href="@Url.Action("Index", "Home", new {area = ""})"><i class="fas fa-chevron-left"></i>&nbsp;@Translations.auth_back_button_title</a>
                <a href="@Url.Action("Index", "Register")">@Translations.auth_login_register_button_title&nbsp;<i class="fas fa-chevron-right"></i></a>
            </div>
            
            @Html.Partial("Partial/_VersionNumber")

        </div>
    </div>
</div>