@using BrandBook.Resources
<div class="left side-menu">
    <div class="sidebar-inner slimscrollleft">
        <!--- Divider -->
        <div id="sidebar-menu">
            <ul>

                <li>
                    <a href="@Url.Action("Index", "Dashboard", new{ area = "App" })" class="waves-effect waves-primary">
                        <i class="fas fa-tachometer-alt"></i><span> @Translations.app_mainnavigation_dashboard </span>
                    </a>
                </li>

                <li>
                    <a href="@Url.Action("Overview", "Brands", new{ area = "App" })" class="waves-effect waves-primary">
                        <i class="fas fa-swatchbook"></i><span> @Translations.app_mainnavigation_yourbrands </span>
                    </a>
                </li>


                @if (User.IsInRole("Administrator"))
                {
                    <li class="has_sub">
                        <a href="javascript:void(0);" class="waves-effect waves-primary subdrop">
                            <i class="fas fa-user"></i><span> @Translations.app_mainnavigation_usermanagement_usermanagement</span>
                        </a>
                        <ul class="list-unstyled" style="display: block;">
                            <li>
                                <a href="@Url.Action("UserOverview", "User", new {area = "App"})">
                                    @Translations.app_mainnavigation_usermanagement_user
                                </a>
                            </li>
                        <!--
                        <li>
                            <a href="#">
                                @Translations.app_mainnavigation_usermanagement_roles
                            </a>
                        </li>
                        -->
                            <li>
                                <a href="@Url.Action("CustomerOverview", "User", new { area = "App"})">
                                    @Translations.app_mainnavigation_usermanagement_company
                                </a>
                            </li>
                        </ul>
                    </li>
                }
                
                
                @if (User.IsInRole("Administrator"))
                {

                    <li>
                        <a href="@Url.Action("Index", "Settings", new {area = "App"})" class="waves-effect waves-primary">
                            <i class="fas fa-cogs"></i><span> @Translations.app_usermenu_settings </span>
                        </a>
                    </li>
                   
                }
                
                
                

            

            </ul>

            <div class="clearfix"></div>
        </div>
        <div class="clearfix"></div>
    </div>
</div>