@using System.Web.Services.Description
@model BrandBook.Web.Framework.ViewModels.App.Brand.Fonts.FontsViewModel
@{
    ViewBag.Title = "Fonts";
}

@section navigation {
    @Html.Partial("~/Areas/App/Views/Shared/_Layout/Partial/_BrandNavigation.cshtml")
}

@section styles {}

<style>
    @foreach (var font in Model.Fonts)
    {
        
        <text>
            /* font-specific-definition */
            @@import url('@font.GoogleFontLink');   

            #font-@font.GetHashCode() {
                font-family: '@font.Family', Arial, sans-serif !important;
            }
            /* ./font-specific-definition */
    </text>
        
    }

    
</style>


@foreach (var font in Model.Fonts)
{
    <h3>
        @font.Name
    </h3>
    <br />
    <div class="row">
        <div class="col-md-12">
            <div class="card m-b-20 card-body">
                <h5>
                    Html Inline Integration
                </h5>
                <code>
                    @font.FontInclusion.HtmlInline
                </code>


                <h5 style="margin-top: 2.5%">
                    Css Import Regel
                </h5>
                <code>
                    @font.FontInclusion.CssImport
                </code>



                <h5 style="margin-top: 2.5%">
                    Css Eigenschaft
                </h5>
                <code>
                    @font.FontInclusion.CssProperty
                </code>





            </div>
        </div>
    </div>

    <div class="row" id="font-@font.GetHashCode()">
        
        @foreach (var fontStyle in font.FontStyles)
        {
            <div class="col-md-4">
                <div class="card m-b-20 card-body" style="font-family: '@font.Family', sans-serif; font-weight: @fontStyle.Weight; font-style: @fontStyle.Style;">
                    <span style="font-size: 5rem;">
                        A a
                    </span>
                    <blockquote>
                        <p>
                            @font.Family @fontStyle.Style @fontStyle.Weight
                        </p>
                        <footer class="fontAdditionalContent">
                            <small>
                                <span style="text-transform: uppercase;">a b c d e f g h i j k l m n o p q r s t u v w x y z</span>
                                <br/>
                                <span style="text-transform: lowercase;">a b c d e f g h i j k l m n o p q r s t u v w x y z</span>
                                <br/>
                                <span>1 2 3 4 5 6 7 8 9 0</span>
                                <br/>
                                <span>The sky was cloudless and of a deep dark blue.</span>
                            </small>
                        </footer>
                    </blockquote>
                </div>
            </div>
        }
        

    </div>

}





@section scripts {}
