@model BrandBook.Web.Framework.ViewModels.App.Brand.Icons.IconsViewModel
@{
    ViewBag.Title = "Icons";
}

@section navigation {
    @Html.Partial("~/Areas/App/Views/Shared/_Layout/Partial/_BrandNavigation.cshtml")
}

@section styles {
    
}

<div class="row">
    <div class="col-md-12">
        <div class="card-box">
            <h4 class="header-title m-t-0 m-b-30">Icons</h4>


            <div class="row">
                <div class="col-lg-12">
                    <div id="accordion" role="tablist" aria-multiselectable="false" class="m-b-20">
                        @{ int count = 0; }
                        @foreach (var category in Model.Categories)
                        {
                            
                            count++;
                            <div class="card" style="margin-bottom: 1%;">
                                <div class="card-header" role="tab" id="iconTab-@count">
                                    <h5 class="mb-0 mt-0 font-16">
                                        <a data-toggle="collapse" data-parent="#accordion" href="#collapse-@count" aria-expanded="" aria-controls="collapse-@count">
                                            <strong>@count. @category.Name</strong> (Font Awesome)
                                        </a>
                                    </h5>
                                </div>

                                <div id="collapse-@count" class="collapse " role="tabpanel" aria-labelledby="iconTab-@count">
                                    <div class="card-body">

                                        <div class="icon-list-demo row">

                                            @foreach (var icon in category.Icons)
                                            {
                                                <div class="col-sm-6 col-md-4 col-lg-3"><i class="@icon.Prefix @icon.ClassName"></i> @icon.Prefix @icon.ClassName</div>
                                            }

                                        </div>

                                    </div>
                                </div>
                            </div>

                        }
                            

                    </div>
                </div>

            </div>

        </div>
    </div>

</div>








@section scripts {
    


}
