<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="keywords" content="Brand Management, BrandBook">
    <meta name="author" content="Philipp C. Moser">
    <meta name="description" content="Brand Book V2">
    <link rel="icon" type="image/png" sizes="100x100" href="https://content.philipp-moser.de/wlo0t5byw6/FrontendData/4a5b63cd-c7e2-4da7-93d5-f9b2c6ae1584.png">

    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>@ViewBag.Title - BrandBook</title>
    @Styles.Render("~/Content/Css/App/Main")
    @RenderSection("styles", required: false)
    <link rel="stylesheet" href="https://use.fontawesome.com/releases/v5.8.1/css/all.css" integrity="sha384-50oBUHEmvpQ+1lW4y57PTFmhCaXp0ML5d60M1M7uH2+nqUivzIebhndOJK28anvf" crossorigin="anonymous">
</head>
    <body class="fixed-left">

        <!-- Begin page -->
        <div id="wrapper">

            <!-- Top Bar Start -->
            @Html.Partial("~/Areas/App/Views/Shared/Layout/Partial/_TopBar.cshtml")
            <!-- Top Bar End -->

            <!-- Left Sidebar Start -->
            @Html.Partial("~/Areas/App/Views/Shared/Layout/Partial/_LeftNavigation.cshtml")
            <!-- Left Sidebar End -->

            <div class="content-page">
                <!-- Start content -->
                <div class="content">
                    <div class="container-fluid">

                        <!-- Page-Title -->
                        <div class="row">
                            <div class="col-sm-12">
                                <div class="page-title-box">
                                    <h4 class="page-title">Dashboard</h4>
                                    <ol class="breadcrumb float-right hide-phone">
                                        <li class="breadcrumb-item"><a href="#">BrandBook</a></li>
                                        <li class="breadcrumb-item"><a href="#">Dashboard</a></li>
                                        <li class="breadcrumb-item active">Index</li>
                                    </ol>
                                    <div class="clearfix"></div>
                                </div>
                            </div>
                        </div>

                        @RenderBody()


                    </div>
                    <!-- end container -->
                </div>
                <!-- end content -->

                <footer class="footer">
                    BrandBook v@(System.Configuration.ConfigurationManager.AppSettings["AppVersion"])
                </footer>

            </div>

        </div>
        <!-- END wrapper -->

        <script>
            var resizefunc = [];
        </script>

        @Scripts.Render("~/bundles/App/Main")
        @RenderSection("scripts", required: false)
        @Scripts.Render("~/bundles/App/Core")


    </body>
</html>