@using BrandBook.Web.Framework.HtmlHelpers
@{
    ViewBag.Title = @Translations.frontend_legal_imprint_pagetitle;
}

    <section class="breadcrumb_area">
        @CustomHelper.Image("FrontendData/6de4d537-9a97-4b39-bda4-7b491a3d2ce6", "png", "breadcrumb_shap")
        <div class="container">
            <div class="breadcrumb_content text-center">
                <h1 class="f_p f_700 f_size_50 w_color l_height50 mb_20">
                    @Translations.frontend_legal_imprint_pagetitle
                </h1>
            </div>
        </div>
    </section>


<section class="blog_area sec_pad cus_ptB_Bl">
    <div class="container">
        <div class="row">
            <div class="col-lg-12">
                <div class="blog_single mb_50">
                    <div class="blog_content cus_p">
                        <p class="f_400 mb-30">
                            01.10.2019
                            <h3>
                                @Translations.frontend_legal_imprint_general_title
                            </h3>
                            Philipp Moser<br />
                            Ahornweg 5<br />
                            76337 Waldbronn<br />
                            Deutschland
                        </p>
                        <p class="f_400 mb-30">
                            <h5>@Translations.frontend_legal_imprint_contact_title</h5>
                            @Translations.frontend_legal_imprint_contact_phone_title: +49 (0)162 7587669<br />
                            @Translations.frontend_legal_imprint_contact_email_title: legal@philipp-moser.de
                        </p>
                    </div>
                </div>                    
            </div>
        </div>
    </div>
</section>