@model BrandBook.Core.ViewModels.Frontend.Legal.PrivacyRequestViewModel
@using BrandBook.Web.Framework.HtmlHelpers
@{
    ViewBag.Title = Translations.frontend_legal_privacyrequest_title;
}

@section styles {
    @CustomHelper.RenderReCaptchaRequest("frontend_privacyrequest")
}


<section class="breadcrumb_area">
    @CustomHelper.Image("FrontendData/6de4d537-9a97-4b39-bda4-7b491a3d2ce6", "png", "breadcrumb_shap")
    <div class="container">
        <div class="breadcrumb_content text-center">
            <h1 class="f_p f_700 f_size_50 w_color l_height50 mb_20">
                @Translations.frontend_legal_privacyrequest_title
            </h1>
            <p class="f_400 w_color f_size_16 l_height26">
                @Translations.frontend_legal_privacyrequest_subtitle
            </p>
        </div>
    </div>
</section>

<section class="contact_info_area sec_pad bg_color">
    <div class="container">
        <div class="row">
            <div class="col-lg-10 offset-lg-1">

                @if (!Html.ViewData.ModelState.IsValid)
                {
                    <div class="box_alert media box_warning">
                        <div class="icon"><i class="fas fa-exclamation"></i></div>
                        <div class="media-body">
                            <h5 style="color: #e7b931;">@Translations.frontend_contact_status_warning_title</h5>
                            <p>
                                <span style="font-weight: 600;">@Translations.frontend_contact_status_warning_content:</span> <br />
                                @Html.ValidationSummary()
                            </p>
                        </div>
                    </div>
                }


                <div class="box_alert media box_success" id="contact-success" style="display: none;">
                    <div class="icon"><i class="fas fa-check"></i></div>
                    <div class="media-body">
                        <h5 style="color: #4acc43;">@Translations.frontend_contact_status_success_title</h5>
                        <p><span style="font-weight: 600;">@Translations.frontend_contact_status_success_content_1</span> @Translations.frontend_contact_status_success_content_2</p>
                    </div>
                </div>

            </div>
        </div>
        <div class="row">
            <div class="col-lg-10 offset-lg-1 mt-5">
                <div class="contact_form">
                    @using (Html.BeginForm("PrivacyRequest", "Legal", FormMethod.Post, new { @class = "form-validation", id = "contact-form", role = "form" }))
                    {
                        @Html.AntiForgeryToken()

                        <div class="row">

                            <div class="col-lg-12">
                                <div class="form-group">
                                    <select id="Type" name="Type" class="form-control custom-select">
                                        <option selected="true" disabled="disabled">Select a Type</option>
                                        <option value="Information">Information</option>
                                        <option value="Cancellation">Cancellation</option>
                                        <option value="Contradiction">Contradiction</option>
                                    </select>
                                </div>
                            </div>


                            <div class="col-lg-12">
                                <div class="form-group text_box">
                                    @Html.TextAreaFor(m => m.Message, new {placeholder = Html.DisplayNameFor(m => m.Message)})
                                </div>
                            </div>

                            @if (CustomHelper.IsReCaptchaActive())
                            {
                                @Html.HiddenFor(m => m.ReCaptchaToken)
                                ;
                            }
                        </div>
                        <button type="submit" class="btn_three">@Translations.frontend_legal_privacyrequest_input_sendbutton</button>

                    }
                </div>
            </div>
        </div>
    </div>
</section>



@section scripts
{

    <script type="text/javascript">

        $(document).ready(function () {

            if ('@Model.IsSent' == 'True') {
                $('#contact-success').show();
            }
        });

    </script>

}
