@model BrandBook.Web.Framework.ViewModels.Frontend.ContactFormViewModel
@using BrandBook.Web.Framework.HtmlHelpers
@{
    ViewBag.Title = "Contact";
}
@section ColorStyle
{
    @Styles.Render("~/Content/Css/Frontend/Styling/02")
}

<div class="theme-top-section">
    @CustomHelper.Image("FrontendData/6cf67f0e-7246-4e4d-9e77-97e28efb05b4", "png", "blue-shape")


    <div class="contact-section-dark" id="contact" style="padding-top: 200px;">
        <div class="container">
            <div class="theme-title text-center">
                <h2>
                    Please leave a message
                </h2>
                <p>
                    Please take note of our Privacy Policy
                </p>
            </div>

            <!-- style="padding: 70px 0;" -->
            @using (Html.BeginForm("Contact", "Support", FormMethod.Post, new { @class = "form-validation", role = "form" }))
            {
                @Html.AntiForgeryToken()

                <div class="row">

                    <div class="col-lg-6">
                        @Html.TextBoxFor(m => m.Name, new { placeholder = @Html.DisplayNameFor(m => m.Name)})
                    </div>

                    <div class="col-lg-6">
                        @Html.TextBoxFor(m => m.Email, new { placeholder = @Html.DisplayNameFor(m => m.Email) })
                    </div>

                    <div class="col-lg-6">
                        @Html.TextBoxFor(m => m.Subject, new { placeholder = @Html.DisplayNameFor(m => m.Subject) })
                    </div>

                    <div class="col-12">
                        @Html.TextAreaFor(m => m.Message, new { placeholder = @Html.DisplayNameFor(m => m.Message) })
                    </div>

                    <div class="col-12">
                        @Html.CheckBoxFor(m => m.AcceptPrivacyPolicy)
                        @Html.LabelFor(m => m.AcceptPrivacyPolicy)
                    </div>

                    <button type="submit">Send Message</button>

                </div>
            }

           


        </div>
    </div>



</div> 