@using BrandCi.Resources
@model BrandCi.Core.ViewModels.App.UserManagement.AppUserViewModel
@{
    ViewBag.Title = @Translations.app_pagetitle_usermanagement_useroverview;
}
@section navigation {
    @Html.Partial("~/Areas/App/Views/Shared/_Layout/Partial/_LeftNavigation.cshtml")
}
@section styles {
    @Styles.Render("~/Content/Plugins/Datatables")
}


<div class="row">
    <div class="col-12">
        <div class="card-box table-responsive">
            <h4 class="m-t-0 header-title">@ViewBag.Title</h4>
            <p class="text-muted font-14 m-b-30"></p>

            <table id="appUserOverview-datatable" class="table table-bordered dt-responsive">
                <thead>
                    <tr>
                        <th>@Translations.app_usermanagement_table_head_firstname</th>
                        <th>@Translations.app_usermanagement_table_head_lastname</th>
                        <th>@Translations.app_usermanagement_table_head_username</th>
                        <th>@Translations.app_usermanagement_table_head_email</th>
                        <th></th>
                    </tr>
                </thead>


                <tbody>


                    @foreach (var user in Model)
                    {
                        <tr>
                            <td>
                                @user.FirstName
                            </td>
                            <td>
                                @user.LastName
                            </td>
                            <td>
                                @user.UserName
                            </td>
                            <td>
                                @user.Email
                            </td>
                            <td>
                                <a href="#" onclick="loadSubscriptionModal('@user.Id')" class="no-link">
                                    <i class="fas fa-key"></i>
                                </a>
                                &nbsp;
                                <a href="#" onclick="loadDetailsModal('@user.Id')" class="no-link">
                                    <i class="fas fa-info-circle"></i>
                                </a>
                            </td>
                        </tr>
                    }

                </tbody>
            </table>
        </div>
    </div>
</div> <!-- end row -->
<!-- User Subscription Modal -->
<div id="subscriptionModal" class="modal fade" data-backdrop="static" tabindex="-1" role="dialog" aria-labelledby="subscriptionModalLabel" aria-hidden="true">
    <div class="modal-dialog">
        <div class="modal-content">
            <div class="modal-header">
                <h4 class="modal-title" id="subscriptionModalLabel">@Translations.app_subscription_popup_subscription_heading <span id="subscriptionModalLabelUserName"></span></h4>
            </div>
            <div class="modal-body">

                <div id="accordion" role="tablist" aria-multiselectable="false" class="m-b-20 subscriptionModalContent">


                </div>

            </div>
            <div class="modal-footer">
                <button type="button" class="btn btn-primary waves-effect" onclick="closeSubscriptionModal()">@Translations.app_subscription_popup_subscription_close</button>
            </div>
        </div>
    </div>
</div>
<!-- ./User Subscription Modal -->
<!-- User Details Modal -->
<div id="detailsModal" class="modal fade" data-backdrop="static" tabindex="-1" role="dialog" aria-labelledby="detailsModalLabel" aria-hidden="true">
    <div class="modal-dialog">
        <div class="modal-content">
            <div class="modal-header">
                <h4 class="modal-title" id="detailsModalLabel">User Details</h4>
            </div>
            <div class="modal-body">

                <div class="m-b-20 detailsModalContent">

                </div>

            </div>
            <div class="modal-footer">
                <button type="button" class="btn btn-primary waves-effect" onclick="closeDetailsModal()">@Translations.app_subscription_popup_subscription_close</button>
            </div>
        </div>
    </div>
</div>
<!-- ./User Details Modal -->



@section scripts{
    @Scripts.Render("~/bundles/Plugins/Datatables")

    @Scripts.Render("~/bundles/packages/app/um-users-overview");


    <!-- User Subscription Modal -->
    <script>

        const SubscriptionItem = ({
                id,
                key,
                subscriptionPlanName,
                startDateTime,
                endDateTime,
                currentAmountOfBrands,
                possibleAmountOfBrands,
                pricePerMonth,
                paidOrPending,
                activeOrInactive
            }) => `
            <div class="card">
                <div class="card-header" role="tab" id="heading-${key}">
                    <h5 class="mb-0 mt-0 font-16">
                        <a data-toggle="collapse" data-parent="#accordion" href="#collapse-${key
            }" aria-expanded="false" aria-controls="collapse-${key}">
                            <strong>@Translations.app_subscription_popup_subscription_title #${key}</strong> (${
            subscriptionPlanName})
                            <span class="badge subscription badge-primary">${paidOrPending}</span>
                            <span class="badge subscription badge-primary">${activeOrInactive}</span>
                        </a>
                    </h5>
                </div>
                <div id="collapse-${key}" class="collapse" role="tabpanel" aria-labelledby="heading-${key}">
                    <div class="card-body">
                        <p>
                            <strong>@Translations.app_subscription_popup_subscription_brandscreated:</strong>
                            <span class="badge subscription badge-primary">${currentAmountOfBrands} / ${
            possibleAmountOfBrands}</span>
                            <br>
                            <strong>@Translations.app_subscription_popup_subscription_activesince:</strong>
                            <span class="badge subscription badge-primary"> ${startDateTime}</span>
                            <br>
                            <strong>@Translations.app_subscription_popup_subscription_activeuntil:</strong>
                            <span class="badge subscription badge-primary"> ${endDateTime}</span>
                            <br><br>
                            <strong>@Translations.app_subscription_popup_subscription_type:</strong>
                            <span class="badge subscription badge-primary"> ${subscriptionPlanName}</span>
                            <br>
                            <strong>@Translations.app_subscription_popup_subscription_pricepermonth:</strong>
                            <span class="badge subscription badge-primary"> ${pricePerMonth}.00 €</span>
                        </p>
                        <p id="changeStatusButton-${id}"></p>
                    </div>
                </div>
            </div>
        `;

        const ActivateButton = ({ id }) => `
            <button type="button" class="btn btn-success waves-effect" onclick="activateSubscription(${id
            })">@Translations.app_subscription_popup_subscription_activate</button>
        `;

        const DeactivateButton = ({ id }) => `
            <button type="button" class="btn btn-danger waves-effect" onclick="showDeactivateApprove(${id
            })">@Translations.app_subscription_popup_subscription_deactivate</button>
        `;

        var _userId;

        function loadSubscriptionModal(userId) {

            _userId = userId;

            $('#subscriptionModal').modal('show');

            updateModalContent();

        }

        function closeSubscriptionModal() {
            $('#subscriptionModal').modal('hide');
        }


        function getAndDisplayUserName() {
            $.ajax({
                url: "/api/v1/users/getUserNameById/" + _userId
            }).then(function(data) {

                if (data.length != 0) {
                    $('#subscriptionModalLabelUserName')
                        .html("@Translations.app_subscription_popup_subscription_heading_binding " + data);
                }

            });
        }

        function getAndAppendSubscriptions() {
            $.ajax({
                url: "/api/v1/subscriptions/" + _userId
            }).then(function(data) {

                if (data.length != 0) {
                    data.forEach(appendToItems);
                } else {
                    $('.subscriptionModalContent').html("@Translations.app_subscription_popup_subscription_noitems");
                }

            });
        }

        function activateSubscription(subscriptionId) {
            $.ajax({
                type: "Post",
                url: "/api/v1/subscriptions/activate/" + subscriptionId
            }).then(function(data) {
                updateModalContent();
            });
        }

        function showDeactivateApprove(subscriptionId) {
            $('#changeStatusButton-' + subscriptionId)
                .html('@Translations.app_subscription_popup_subscription_deactivateapprove_title<br>' +
                    '<button type="button" class="btn btn-danger waves-effect" onclick="deactivateSubscription(' +
                    subscriptionId +
                    ')">@Translations.app_subscription_popup_subscription_deactivateapprove_button</button>');
        }

        function deactivateSubscription(subscriptionId) {
            $.ajax({
                type: "Post",
                url: "/api/v1/subscriptions/deactivate/" + subscriptionId
            }).then(function(data) {
                updateModalContent();
            });
        }

        function updateModalContent() {
            resetModalContent();
            getAndDisplayUserName();
            getAndAppendSubscriptions();
        }


        function resetModalContent() {
            $('.subscriptionModalContent').html("");
            $('#subscriptionModalLabelUserName').html("");
        }


        function appendToItems(item) {
            $('.subscriptionModalContent').append([item].map(SubscriptionItem).join(''));
            $('.subscriptionModalContent').append("<br />");

            if (item.isActive) {
                $('#changeStatusButton-' + item.id).html([item].map(DeactivateButton).join(''));
            } else {
                $('#changeStatusButton-' + item.id).html([item].map(ActivateButton).join(''));
            }

        }

    </script>
    <!-- ./User Subscription Modal -->
    <!-- User Details Modal -->
    <script>

        const DetailsItem = ({
            id,
            firstname,
            lastname,
            username,
            email,
            phoneNumber,
            creationDate,
            lastLoginDate,
            lastModifiedDate,
            isActive,
            isEmailConfirmed,
            privacyPolicyAccepted,
            isDarkmodeEnabled,
            profileImagePath
        }) => `
            <div class="text-center card-box">
                <div class="member-card">

                    <div class="thumb-lg member-thumb m-b-10 center-page">
                        <img src="${profileImagePath}" class="rounded-circle img-thumbnail" alt="user-profile-image">
                    </div>

                    <div class="">
                        <h4 class="m-b-5 mt-2">
                            ${firstname} ${lastname}
                        </h4>
                        <p class="text-muted"></p>
                    </div>


                    <div class="text-left m-t-40">
                        <p class="text-muted font-13">
                            <strong>UserId:</strong><br/>
                            ${id}
                        </p>

                        <p class="text-muted font-13">
                            <strong>Email:</strong><br/>
                            ${username}
                        </p>

                        <p class="text-muted font-13">
                            <strong>Email:</strong><br/>
                            ${email}
                        </p>

                        <p class="text-muted font-13">
                            <strong>Phone:</strong><br/>
                            ${phoneNumber}
                        </p>

                        <p></p>

                        <p class="text-muted font-13">
                            <strong>CreationDate:</strong><br/>
                            ${creationDate}
                        </p>

                        <p class="text-muted font-13">
                            <strong>LastLoginDate:</strong><br/>
                            ${lastLoginDate}
                        </p>

                        <p class="text-muted font-13">
                            <strong>LastModified:</strong><br/>
                            ${lastModifiedDate}
                        </p>

                        <p></p>

                        <p class="text-muted font-13">
                            <strong>Is Active:</strong><br/>
                            ${isActive}
                        </p>

                        <p class="text-muted font-13">
                            <strong>Is Email Confirmed:</strong><br/>
                            ${isEmailConfirmed}
                        </p>

                        <p class="text-muted font-13">
                            <strong>PrivacyPolicy Accepted:</strong><br/>
                            ${privacyPolicyAccepted}
                        </p>

                        <p class="text-muted font-13">
                            <strong>Darkmode enabled:</strong><br/>
                            ${isDarkmodeEnabled}
                        </p>

                    </div>
                </div>
            </div>
        `;

        var _userId;

        function loadDetailsModal(userId) {

            _userId = userId;

            $('#detailsModal').modal('show');

            updateDetailsModalContent();

        }

        function closeDetailsModal() {
            $('#detailsModal').modal('hide');
        }

        function updateDetailsModalContent() {
            resetDetailsModalContent();
            getAndDisplayUserDetails();
        }


        function getAndDisplayUserDetails() {
            $.ajax({
                url: "/api/v1/users/getUserDetailsById/" + _userId
            }).then(function(data) {

                if (data.length != 0) {
                    $('.detailsModalContent').append([data].map(DetailsItem).join(''));
                } else {
                    $('.detailsModalContent').html("Userdetails could not be load.");
                }

            });
        }

        function resetDetailsModalContent() {
            $('.detailsModalContent').html("");
        }

    </script>
    <!-- ./User Details Modal -->
}









