
@{
    ViewBag.Title = "Dashboard";
}

@section navigation {
    @Html.Partial("~/Areas/App/Views/Shared/_Layout/Partial/_LeftNavigation.cshtml")
}

@section styles {
    @Styles.Render("~/Content/Plugins/MorrisChart")
}


@if (!ViewBag.IsDarkmodeEnabled)
{
    <div class="row">
        <div class="col-12">
            <div class="card-box" style="background-color: #d6d8d9 !important;">
                <h4 class="m-t-0 header-title">
                    <i class="fas fa-moon"></i>
                    Join the dark side!
                </h4>
                <p class="card-text">
                    We are very happy to announce our new Dark Mode, that is now available in a Beta-Version for you!
                </p>
                <p class="card-text">
                    <a href="@Url.Action("ChangeAppColorMode", "Profile", new { area = "App", mode="dark" })" class="btn btn-dark btn-custom">Start using Dark Mode</a>
                </p>
            </div>
        </div>
    </div>
}





<div class="row">
    <div class="col-12">
        <div class="card-box">
            <h4 class="m-t-0 header-title">
                Welcome, @User.Identity.Name
            </h4>
        </div>
    </div>
</div>



<div class="row">

    <!-- Area Chart -->
    <div class="col-lg-12">
        <div class="portlet">
            <!-- /primary heading -->
            <div class="portlet-heading">
                <h3 class="header-title text-dark mb-0 mt-2">
                    Your brand activity
                    <a data-toggle="tooltip" data-placement="right" title="Your Brand Activity based on your contributions">
                        <i class="fas fa-info-circle"></i>
                    </a>
                </h3>
                <div class="portlet-widgets">
                    <a href="javascript:;" data-toggle="reload"><i class="ion-refresh"></i></a>
                    <span class="divider"></span>
                    <a data-toggle="collapse" data-parent="#accordion1" href="#portlet2"><i class="ion-minus-round"></i></a>
                    <span class="divider"></span>
                    <a href="#" data-toggle="remove"><i class="ion-close-round"></i></a>
                </div>
                <div class="clearfix"></div>
            </div>
            <div id="portlet2" class="panel-collapse collapse show">
                <div class="portlet-body">
                    <div id="last-activity-morris-area" style="height: 350px;"></div>
                </div>
            </div>
        </div>
        <!-- /Portlet -->
    </div>
</div>
<!-- End row-->


<div class="row">
    <div class="col-lg-12">
        <div class="card-box">
            <h4 class="text-dark  header-title mb-4">
                Recent Activity
                <a data-toggle="tooltip" data-placement="right" title="The last activity across your most active projects.">
                    <i class="fas fa-info-circle"></i>
                </a>
            </h4>

            <div class="table-responsive">
                <table class="table table-hover mb-0">
                    <thead>
                        <tr>
                            <th>#</th>
                            <th>Brand Name</th>
                            <th>Activity Date</th>
                            <th>Activity</th>
                            <th>Changed by</th>
                        </tr>
                    </thead>
                    <tbody>
                        <tr>
                            <td colspan="5" align="center">
                                Currently no data available.
                            </td>
                        </tr>
                    </tbody>
                </table>
            </div>
        </div>
    </div>
    <!-- end col -12 -->
</div>
<!-- end row -->



@section scripts {
    @Scripts.Render("~/bundles/Plugins/MorrisChart")

    <script type="text/javascript">

        !function ($) {
            "use strict";

            var MorrisCharts = function () { };

            MorrisCharts.prototype.createBrandActivityChart = function (element, data, labels) {
                Morris.Area({
                    element: element,
                    pointSize: 3,
                    lineWidth: 1,
                    data: data,
                    xkey: 'y',
                    ykeys: ['a'],
                    labels: labels,
                    hideHover: 'auto',
                    pointFillColors: ['#ffffff'],
                    pointStrokeColors: ['#999999'],
                    resize: true,
                    gridLineColor: '#eef0f2',
                    lineColors: ['#80deea'],
                    xLabels: "month"
                });
            }

            MorrisCharts.prototype.init = function () {


                var $areaDotData = [
                    { y: '2019-01-01', a: 0 },
                    { y: '2019-02-01', a: 0 },
                    { y: '2019-03-01', a: 0 },
                    { y: '2019-04-01', a: 0 },
                    { y: '2019-05-01', a: 0 },
                    { y: '2019-06-01', a: 0 },
                    { y: '2019-07-01', a: 0 },
                    { y: '2019-08-01', a: 0 }
                ];


                this.createBrandActivityChart('last-activity-morris-area', $areaDotData, ['Your Activity']);


            }

            //init
            $.MorrisCharts = new MorrisCharts, $.MorrisCharts.Constructor = MorrisCharts;

        }(window.jQuery),

            //initializing
            function ($) {
                "use strict";
                $.MorrisCharts.init();
            }(window.jQuery);


    </script>

}