@using BrandBook.Web.Framework.HtmlHelpers;
@model BrandBook.Core.ViewModels.Auth.Process.ResetPasswordViewModel
@{
    ViewBag.Title = @Translations.auth_resetpassword_title;
    Layout = "~/Areas/Auth/Views/Shared/_Layout.cshtml";
}


@AuthCustomHelper.RenderBackground("b14828a6-69ac-4d63-a7e0-0f442729e318", "svg")

<div class="form-holder">
    <div class="form-content">
        <div class="form-items">
            <h3>@Translations.auth_resetpassword_title</h3>
            <p></p>
            @using (Html.BeginForm("ResetPassword", "Processes", new { area = "Auth" }, FormMethod.Post, new { @class = "form-horizontal", role = "form" }))
            {
                @Html.AntiForgeryToken()
                @Html.HiddenFor(model => model.Code)
                <div class="form-group">
                    <div class="col-md-12">
                        @Html.TextBoxFor(m => m.Username, new { @class = "form-control", placeholder = Html.DisplayNameFor(m => m.Username) + "*" })
                    </div>
                </div>
                <div class="form-group">
                    <div class="col-md-12">
                        @Html.PasswordFor(m => m.Password, new { @type = "Password", @class = "form-control", placeholder = Html.DisplayNameFor(m => m.Password) + "*" })
                    </div>
                </div>
                <div class="form-group">
                    <div class="col-md-12">
                        @Html.PasswordFor(m => m.ConfirmPassword, new { @type = "Password", @class = "form-control", placeholder = Html.DisplayNameFor(m => m.ConfirmPassword) + "*" })
                    </div>
                </div>

                @Html.ValidationSummary(false, "", new { @class = "text-danger mt-5" })

                <div class="form-button">
                    <button id="submit" type="submit" class="ibtn">@Translations.auth_resetpassword_resetpassword_button_title</button>
                </div>


                <div class="page-links mt-5">
                    <a href="@Url.Action("Index", "Home", new {area = ""})"><i class="fas fa-chevron-left"></i>&nbsp;@Translations.auth_back_button_title</a>
                    <a href="@Url.Action("Index", "Login")">@Translations.auth_resetpassword_login_button_title&nbsp;<i class="fas fa-chevron-right"></i></a>
                </div>

            }

        </div>
    </div>
</div>