@using BrandBook.Resources

@{
    ViewBag.Title = Translations.app_settings_user_title;
}

@section navigation {
    @Html.Partial("~/Areas/App/Views/Shared/_Layout/Partial/_LeftNavigation.cshtml")
}

<div class="row">
    <div class="col-12">
        <div class="card-box">
            <h4 class="m-t-0 header-title">
                @Translations.app_settings_user_title
            </h4>
            <p class="text-muted m-b-30 font-14">
                @Translations.app_settings_user_description
            </p>

            <div class="row">
                <div class="col-12">
                    <div class="p-20">
                        <form class="form-horizontal" role="form">




                            <div class="form-group row mt-5 mb-0">
                                <a href="@Url.Action("Index", "System", new {area = "App"})" class="btn btn-danger btn-custom mr-2">
                                    <i class="fas fa-arrow-left"></i>
                                    &nbsp;
                                    @Translations.app_settings_back_button_title
                                </a>
                                <button type="submit" class="btn btn-primary btn-custom">
                                    <i class="fas fa-save"></i>
                                    &nbsp;
                                    @Translations.app_settings_update_button_title
                                </button>
                            </div>



                        </form>
                    </div>
                </div>

            </div>
            <!-- end row -->

        </div> <!-- end card-box -->
    </div><!-- end col -->
</div>