@model BrandBook.Web.Framework.ViewModels.App.Profile.GeneralUserDataViewModel
@{
    ViewBag.Title = "Index";
}

@section navigation {
    @Html.Partial("~/Areas/App/Views/Shared/Layout/Partial/_LeftNavigation.cshtml")
}

@section styles
{
    @Styles.Render("~/Content/Plugins/Modals")
}


<div class="row">
    <div class="col-xl-3 col-lg-4">
        <div class="text-center card-box">
            <div class="member-card">
                <div class="thumb-xl member-thumb m-b-10 center-block">
                    <img src="https://content.philipp-moser.de/wlo0t5byw6/UserData/94c87e0c-4c8a-4398-ab25-37a6333de0e0.jpg" class="rounded-circle img-thumbnail" alt="profile-image">
                </div>

                <div class="">
                    <h5 class="m-b-5">@Model.FirstName @Model.LastName</h5>
                    <p class="text-muted"></p>
                </div>

            </div>

        </div> <!-- end card-box -->
    </div> <!-- end col -->

    <div class="col-lg-8 col-xl-9">
        <div class="card m-b-20 card-body">
            <h4 class="card-title">Ändern Sie Ihre Daten</h4>
            <p class="card-text">

                @using (Html.BeginForm("UpdateUserData", "Profile", new { area = "App" }, FormMethod.Post, new { @class = "form-validation", role = "form" }))
                {

                    @Html.AntiForgeryToken()


                    <div class="form-group">
                        <div class="col-md-6">
                            @Html.TextBoxFor(m => m.UserName, new { @class = "form-control", placeholder = Html.DisplayNameFor(m => m.UserName) })
                            @Html.ValidationMessageFor(m => m.UserName, "", new { @class = "text-danger" })
                        </div>
                    </div>

                    <div class="form-group">
                        <div class="col-md-6">
                            @Html.TextBoxFor(m => m.FirstName, new { @class = "form-control", placeholder = Html.DisplayNameFor(m => m.FirstName) })
                            @Html.ValidationMessageFor(m => m.FirstName, "", new { @class = "text-danger" })
                        </div>
                    </div>

                    <div class="form-group">
                        <div class="col-md-6">
                            @Html.TextBoxFor(m => m.LastName, new { @class = "form-control", placeholder = Html.DisplayNameFor(m => m.LastName) })
                            @Html.ValidationMessageFor(m => m.LastName, "", new { @class = "text-danger" })
                        </div>
                    </div>


                    <button class="btn btn-primary waves-effect waves-light w-md" type="submit">
                        <i class="fas fa-save"></i>&nbsp;&nbsp;Speichern
                    </button>

                }



            </p>
        </div>

        <div class="card m-b-20 card-body">
            <p class="card-text">
                <a href="#changePasswordModal" data-animation="blur" data-plugin="custommodal" data-overlaySpeed="100" data-overlayColor="#36404a" class="btn btn-primary waves-effect waves-light w-md mt-2 mb-2">
                    <i class="fas fa-fingerprint"></i>&nbsp;&nbsp;Passwort ändern
                </a>
                <a href="#changeEmailModal" data-animation="blur" data-plugin="custommodal" data-overlaySpeed="100" data-overlayColor="#36404a" class="btn btn-primary waves-effect waves-light w-md mt-2 mb-2">
                    <i class="fas fa-envelope"></i>&nbsp;&nbsp;E-Mail Adresse ändern
                </a>
            </p>
        </div>
    </div>

</div>


<div id="changePasswordModal" class="modal-demo">
    <button type="button" class="close" onclick="Custombox.close();">
        <span>&times;</span><span class="sr-only">Close</span>
    </button>
    <h4 class="custom-modal-title">Passwort ändern</h4>
    <div class="custom-modal-text">
        Beachten Sie unsere Richtlinien zum Erstellen sicherer Passwörter!<br />
        Das neue Passwort muss diesen Richtlinien entsprechen.
        <br /><br />
        <strong>
            Das neue Passwort muss Folgendes enthalten
        </strong>
        <ul>
            <li>Mindestens 8 Zeichen</li>
            <li>Numerische Werte</li>
            <li>Großbuchstaben</li>
            <li>Kleinbuchstaben</li>
        </ul>

        @using (Html.BeginForm("UpdatePassword", "Profile", new { area = "App" }, FormMethod.Post, new { @class = "form-validation", role = "form" }))
        {

            @Html.AntiForgeryToken()

            <div class="form-group">
                <div class="col-md-12">
                    @Html.TextBoxFor(m => m.Password, new { @class = "form-control", placeholder = Html.DisplayNameFor(m => m.Password) })
                    @Html.ValidationMessageFor(m => m.Password, "", new { @class = "text-danger" })
                </div>
            </div>
            <div class="form-group">
                <div class="col-md-12">
                    @Html.TextBoxFor(m => m.Password, new { @class = "form-control", placeholder = Html.DisplayNameFor(m => m.Password) })
                    @Html.ValidationMessageFor(m => m.Password, "", new { @class = "text-danger" })
                </div>
            </div>
            <div class="form-group">
                <div class="col-md-12">
                    @Html.TextBoxFor(m => m.ConfirmPassword, new { @class = "form-control", placeholder = Html.DisplayNameFor(m => m.ConfirmPassword) })
                    @Html.ValidationMessageFor(m => m.ConfirmPassword, "", new { @class = "text-danger" })
                </div>
            </div>

            <button class="btn btn-primary waves-effect waves-light w-md" type="submit">
                <i class="fas fa-fingerprint"></i>&nbsp;&nbsp;Passwort speichern
            </button>
        }


    </div>
</div>


<div id="changeEmailModal" class="modal-demo">
    <button type="button" class="close" onclick="Custombox.close();">
        <span>&times;</span><span class="sr-only">Close</span>
    </button>
    <h4 class="custom-modal-title">E-Mail Adresse ändern</h4>
    <div class="custom-modal-text">

        @using (Html.BeginForm("UpdateEmail", "Profile", new { area = "App" }, FormMethod.Post, new { @class = "form-validation", role = "form" }))
        {

            @Html.AntiForgeryToken()

            <div class="form-group">
                <div class="col-md-12">
                    @Html.TextBoxFor(m => m.Email, new { @class = "form-control", placeholder = Html.DisplayNameFor(m => m.Email) })
                    @Html.ValidationMessageFor(m => m.Email, "", new { @class = "text-danger" })
                </div>
            </div>


            <button class="btn btn-primary waves-effect waves-light w-md" type="submit">
                <i class="fas fa-envelope"></i>&nbsp;&nbsp;E-Mail Adresse speichern
            </button>
        }

      
    </div>
</div>


@section scripts {
    @Scripts.Render("~/bundles/Plugins/Modals")
}