@model BrandBook.Web.Framework.ViewModels.App.Subscriptions.SubscriptionsViewModel
@{
    ViewBag.Title = "My Subscriptions";
}
@section navigation {
    @Html.Partial("~/Areas/App/Views/Shared/_Layout/Partial/_LeftNavigation.cshtml")
}

<div class="row">
    <div class="col-12">
        <div class="card-box">

            <h4 class="m-t-0 header-title">@ViewBag.Title</h4>
            <p class="text-muted font-14 m-b-30"></p>

            <div class="row">
                <div class="col-lg-8">
                    <div id="accordion" role="tablist" aria-multiselectable="true" class="m-b-20">
                        

                        @foreach (var subscription in Model.Subscriptions)
                        {
                            <div class="card">
                                <div class="card-header" role="tab" id="heading-@subscription.Id">
                                    <h5 class="mb-0 mt-0 font-16">
                                        <a data-toggle="collapse" data-parent="#accordion" href="#collapse-@subscription.Id" aria-expanded="false" aria-controls="collapse-@subscription.Id">
                                            <strong>Subscription #@subscription.Key</strong> (@subscription.PlanName)
                                            @if (subscription.IsActive)
                                            {
                                                <span class="badge subscription badge-success">Active</span>
                                            }
                                            else
                                            {
                                                <span class="badge subscription badge-danger">Expired</span>
                                            }


                                            @if (subscription.IsPaid)
                                            {
                                                <span class="badge subscription badge-success">Paid</span>
                                            }
                                            else
                                            {
                                                <span class="badge subscription badge-warning">Not Paid</span>
                                            }
                                            
                                        </a>
                                    </h5>
                                </div>
                                <div id="collapse-@subscription.Id" class="collapse" role="tabpanel" aria-labelledby="heading-@subscription.Id">
                                    <div class="card-body">
                                        <h3>
                                            Validity
                                        </h3>
                                        <p>
                                            <strong>Active since:</strong>
                                            <span class="badge subscription badge-primary"> @subscription.StartDate</span>
                                            <br />
                                            <strong>Active until:</strong>
                                        <span class="badge subscription badge-primary"> @subscription.EndDate</span>
                                        </p>

                                        <h3>
                                            Subscription Plan
                                        </h3>
                                        <p>
                                            <strong>Selected Plan:</strong>
                                            <span class="badge subscription badge-primary"> @subscription.PlanName</span>
                                            <br />
                                            <strong>Price per Month:</strong>
                                            <span class="badge subscription badge-primary">€ @subscription.PlanPricePerMonth</span>
                                        </p>

                                    </div>
                                </div>
                            </div>
                        }

                        

                    </div>
                </div>
            </div> <!-- end row -->


        </div>
    </div>
</div>