@model BrandBook.Web.Framework.ViewModels.App.Blog.EditBlogEntryViewModel
@{
    ViewBag.Title = "Edit Blog Entry";
}
@section navigation {
    @Html.Partial("~/Areas/App/Views/Shared/_Layout/Partial/_LeftNavigation.cshtml")
}
@section styles {
}


<div class="row">
    <div class="col-12">
        <div class="card-box table-responsive">
            <h4 class="m-t-0 header-title">@ViewBag.Title</h4>
            <p class="text-muted font-14 m-b-30"></p>

            @using (Html.BeginForm("Add", "BlogEntry", new { area = "App" }, FormMethod.Post, new { enctype = "multipart/form-data", @id = "add-blog-form", @class = "form-horizontal", role = "form" }))
            {
                @Html.AntiForgeryToken()

                <div class="form-row">
                    <div class="form-group col-md-6">
                        @Html.LabelFor(m => m.Title, new { @class = "control-label" })<span class="required-form-item"></span>
                        <div class="">
                            @Html.TextBoxFor(m => m.Title, new { @class = "form-control" })
                        </div>
                    </div>

                    <div class="form-group col-md-6">
                        @Html.LabelFor(m => m.SubTitle, new { @class = "control-label" })
                        <div class="">
                            @Html.TextBoxFor(m => m.SubTitle, new { @class = "form-control" })
                        </div>
                    </div>
                </div>



                <div class="form-row">
                    <div class="form-group col-md-6">
                        @Html.LabelFor(m => m.Content, new { @class = "control-label" })
                        <div class="">
                            @Html.TextAreaFor(m => m.Content, new { @class = "form-control" })
                        </div>
                    </div>

                    <div class="form-group col-md-6">
                        @Html.LabelFor(m => m.AdditionalStyles, new { @class = "control-label" })
                        <div class="">
                            @Html.TextAreaFor(m => m.AdditionalStyles, new { @class = "form-control" })
                        </div>
                    </div>
                </div>


                <div class="form-row">
                    <div class="form-group col-md-6">
                        @Html.LabelFor(m => m.Author)

                        <div class="">
                            @Html.TextBoxFor(m => m.Author, new { @class = "form-control required" })
                        </div>
                    </div>
                </div>



                <div class="form-row">
                    <div class="form-group mt-5">
                        <button type="submit" class="btn btn-primary btn-custom" id="submitForm">
                            Add Blog Entry
                        </button>
                    </div>
                </div>

            }




        </div>
    </div>
</div> <!-- end row -->






@section scripts{
}