@using BrandBook.Web.Framework.Helpers
@using BrandBook.Web.Framework.HtmlHelpers
@{
    var cookieConsent = Request.Cookies["_cookieConsent"];
}


<!-- Insertion -->
<!DOCTYPE html>
<html lang="@CultureHelper.GetCurrentNeutralCulture()" dir="@(CultureHelper.IsRightToLeft() ? "rtl" : "ltr")">
    <head>
        <meta charset="UTF-8">
        <meta name="keywords" content="Brand Management, BrandBook">
        <meta name="author" content="Philipp C. Moser">
        <meta name="description" content="Brand Book V2">

        <!-- For IE -->
        <meta http-equiv="X-UA-Compatible" content="IE=edge">
        <!-- For Resposive Device -->
        <meta name="viewport" content="width=device-width, initial-scale=1.0">

        <title>@ViewBag.Title - @ViewBag.AppTitle</title>


        @Styles.Render("~/Content/Css/Frontend/Main")
        @Styles.Render("~/Content/Css/Flag-Icon")
        

        @RenderSection("styles", required: false)


        @{ Html.RenderAction("GoogleAnalytics", "Layout"); }

        <!-- Favicon -->
        <link rel="icon" type="image/png" sizes="100x100" href="@CustomHelper.ImagePath("4a5b63cd-c7e2-4da7-93d5-f9b2c6ae1584","png", "FrontendData")">

        <!-- Fontawesome -->
        <link rel="stylesheet" href="https://use.fontawesome.com/releases/v5.8.1/css/all.css" integrity="sha384-50oBUHEmvpQ+1lW4y57PTFmhCaXp0ML5d60M1M7uH2+nqUivzIebhndOJK28anvf" crossorigin="anonymous">


    </head>

    <body>


        @Html.Partial("~/Views/Shared/Layout/Partial/_PreLoader.cshtml")
        <div class="body_wrapper">

            @{ Html.RenderAction("UserLike", "Layout"); }


            <!-- Navigation -->
            @Html.Partial("~/Views/Shared/Layout/Partial/Navigation.cshtml")
            <!-- ./ Navigation -->

            

            @RenderBody()


            @if (cookieConsent == null)
            {
                <!-- Cookie-Consent -->
                @Html.Partial("~/Views/Shared/Layout/Partial/_CookieConsent.cshtml")
                <!-- Cookie-Consent -->
            }
        


            <!-- Footer -->
            @Html.Partial("~/Views/Shared/Layout/Partial/Footer.cshtml")

            <!-- Js Bundles -->
            @Scripts.Render("~/bundles/Frontend/Main")
            
            @RenderSection("pageScriptBundle", required: false)

            @Scripts.Render("~/bundles/Frontend/General")


            <!-- Culture Switcher -->
            <script type="text/javascript">

                (function ($) {
                    $("input[type = 'radio']").click(function () {
                        $(this).parents("form").submit();
                    });
                })(jQuery);

            </script>
            <!-- ./ Culture Switcher-->

            <!-- Set Cookie-Acceptance Cookie -->
            <script type="text/javascript">
                $("#acceptCookiesButton").click(function () {
                    $.cookie("_cookieConsent", 1, { expires: 365 });
                    $("#cookieConsentBox").fadeOut(400);
                });
            </script>
            <!-- ./Set Cookie-Acceptance Cookie -->


            @RenderSection("scripts", required: false)
            

        </div> <!-- /.body_wrapper -->
    </body>
</html>