@model BrandCi.Core.ViewModels.App.Blog.EditBlogEntryViewModel
@{
    ViewBag.Title = "Edit Blog Entry";
}
@section navigation {
    @Html.Partial("~/Areas/App/Views/Shared/_Layout/Partial/_LeftNavigation.cshtml")
}
@section styles {
    @Styles.Render("~/Content/Plugins/Datepicker")
}

<div class="row">
    <div class="col-12">
        <div class="card-box table-responsive">
            <h4 class="m-t-0 header-title">@ViewBag.Title</h4>
            <p class="text-muted font-14 m-b-30"></p>

            @using (Html.BeginForm("Edit", "BlogEntry", new { area = "App" }, FormMethod.Post, new { enctype = "multipart/form-data", @id = "edit-blog-form", @class = "form-horizontal", role = "form" }))
            {
                @Html.AntiForgeryToken()

                @Html.HiddenFor(m => m.Id)

                <div class="form-row">
                    <div class="form-group col-md-6">
                        @Html.LabelFor(m => m.Title, new { @class = "control-label" })<span class="required-form-item"></span>
                        <div class="">
                            @Html.TextBoxFor(m => m.Title, new { @class = "form-control" })
                        </div>
                    </div>

                    <div class="form-group col-md-6">
                        @Html.LabelFor(m => m.SubTitle, new { @class = "control-label" })
                        <div class="">
                            @Html.TextBoxFor(m => m.SubTitle, new { @class = "form-control" })
                        </div>
                    </div>
                </div>


                <div class="form-row">
                    <div class="form-group col-md-6">
                        @Html.LabelFor(m => m.UrlKey, new { @class = "control-label" })<span class="required-form-item"></span>
                        <div class="">
                            @Html.TextBoxFor(m => m.UrlKey, new { @class = "form-control" })
                        </div>
                    </div>

                    <div class="form-group col-md-6">
                        @Html.LabelFor(m => m.Author, new { @class = "control-label" })
                        <div class="">
                            @Html.TextBoxFor(m => m.Author, new { @class = "form-control" })
                        </div>
                    </div>
                </div>



                <div class="form-row">
                    <div class="form-group col-md-6">
                        @Html.LabelFor(m => m.Content, new { @class = "control-label" })
                        <div class="">
                            @Html.TextAreaFor(m => m.Content, new { @class = "form-control" })
                        </div>
                    </div>

                    <div class="form-group col-md-6">
                        @Html.LabelFor(m => m.AdditionalStyles, new { @class = "control-label" })
                        <div class="">
                            @Html.TextAreaFor(m => m.AdditionalStyles, new { @class = "form-control" })
                        </div>
                    </div>
                </div>


                <div class="form-row">
                    <div class="form-group col-md-6">
                        <div class="form-check">
                            @if (Model.IsPublished)
                            {
                                @Html.CheckBoxFor(m => m.IsPublished, new { @checked = true, @class = "form-check-input" })
                            }
                            else
                            {
                                @Html.CheckBoxFor(m => m.IsPublished)
                            }

                            @Html.LabelFor(m => m.IsPublished, new { @class = "form-check-label" })
                        </div>
                    </div>
                    <div class="form-group col-md-6">
                        @Html.LabelFor(m => m.PublishDate)
                        <div class="input-group">
                            @Html.TextBoxFor(m => m.PublishDate, "{0:dd.MM.yyyy}", new { @class = "form-control" })
                            <div class="input-group-append">
                                <span class="input-group-text"><i class="fas fa-calendar"></i></span>
                            </div>
                        </div>
                    </div>
                </div>

                <div class="form-row">
                    <div class="form-group col-md-6">
                        <div class="form-check">
                            @if (Model.IsVisibleForAnonymous)
                            {
                                @Html.CheckBoxFor(m => m.IsVisibleForAnonymous, new { @checked = true, @class = "form-check-input" })
                            }
                            else
                            {
                                @Html.CheckBoxFor(m => m.IsVisibleForAnonymous)
                            }

                            @Html.LabelFor(m => m.IsVisibleForAnonymous, new { @class = "form-check-label" })
                        </div>
                    </div>
                    
                </div>







                <div class="form-row">
                    <div class="form-group mt-5">
                        <a href="@Url.Action("Index", "BlogEntry", new {area = "App"})" class="btn btn-warning btn-custom">
                            <i class="fas fa-arrow-left"></i>
                            Back
                        </a>
                        <button type="submit" class="btn btn-primary btn-custom" id="submitForm">
                            <i class="fas fa-save"></i>
                            Save Blog Entry
                        </button>
                    </div>
                </div>

            }




        </div>
    </div>
</div> <!-- end row -->



<div class="row">
    <div class="col-12">
        <div class="card-box" style="background-color: #f8d7da">

            <h4 class="header-title m-t-0 m-b-30">Danger Zone</h4>

            <div class="form-group row mt-5 mb-0">

                <button type="button" class="btn btn-danger btn-custom mr-2" data-toggle="modal" data-target="#DeleteConfirmation">
                    <i class="fas fa-trash"></i>
                    &nbsp;
                    Delete
                </button>
                
                <div id="DeleteConfirmation" class="modal fade" tabindex="-1" role="dialog" aria-labelledby="DeleteConfirmationLabel" aria-hidden="true">
                    <div class="modal-dialog modal-dialog-centered">
                        <div class="modal-content">
                            <div class="modal-header">
                                <button type="button" class="close" data-dismiss="modal" aria-hidden="true">×</button>
                                <h4 class="modal-title" id="DeleteConfirmationLabel">Delete: @Model.Title</h4>
                            </div>
                            <div class="modal-body">
                                <p>
                                    Do you really want to delete this BlogEntry and all depending data?
                                </p>
                                <p>
                                    <label for="retypeBlogEntryTitle">Retype BlogEntry Title</label>
                                    <input type="text" name="retypeBlogEntryTitle" id="retypeBlogEntryTitle" value="" class="form-control" />

                                </p>
                            </div>
                            <div class="modal-footer">

                                <a href="@Url.Action("Delete", "BlogEntry", new {id = Model.Id, area = "App"})" id="deleteBlogEntryButton" class="btn btn-danger btn-custom mr-2" style="display: none;">
                                    <i class="fas fa-trash"></i>
                                    &nbsp;
                                    Delete it.
                                </a>

                                <button type="button" class="btn btn-secondary waves-effect" data-dismiss="modal">Abort, Stop!</button>


                            </div>
                        </div><!-- /.modal-content -->
                    </div><!-- /.modal-dialog -->
                </div><!-- /.modal -->


            </div>

        </div>
    </div>
</div>






@section scripts{

    @Scripts.Render("~/bundles/Plugins/Datepicker")

    
    
    <script>

        var blogEntryTitle = "@Model.Title";

        /* Retype BlogEntryTitle to delete it */
        $('#retypeBlogEntryTitle').change(function() {

            // console.log($('#retypeBlogEntryTitle').val());

            if ($('#retypeBlogEntryTitle').val() == blogEntryTitle) {

                $('#deleteBlogEntryButton').css("display", "block");
                $('#retypeBlogEntryTitle').css("border-color", "#cfcfcf");

            }
            else {

                $('#retypeBlogEntryTitle').css("border-color", "#c71612");
                $('#deleteBlogEntryButton').css("display", "none");

            }

        });
        

    </script>
    
    
    

    


    <script>
        jQuery('#@Html.IdFor(m => m.PublishDate)').datepicker({
            format: "dd/mm/yyyy",
            autoclose: true,
            todayHighlight: true,
            weekStart: 1
        });
    </script>

}